table.table.table-condensed.table-striped
	thead
		tr
			th Category
			th Name
			th Value
	tbody
		tr
			td
				strong DEMOGRAPHIC & HISTORY
			td
				span Vital status
			td
				select.form-control.input-sm(name='vital_status', type='text', required)
					option(value='alive', selected=clinical.vital_status === 'alive') alive
					option(value='dead', selected=clinical.vital_status === 'dead') dead
		tr
			td
			td
				span Race
			td
				input.form-control.input-sm(name='race', value='#{clinical.race || ""}', placeholder='ex) asian', type='text', required)
		tr
			td
			td
				span Ethnicity
			td
				input.form-control.input-sm(name='ethnicity', value='#{clinical.ethnicity || ""}', placeholder='ex) korean', type='text', required)
		tr
			td
			td
				span History of other malignancy
			td
				select.form-control.input-sm(name='other_dx', type='text', required)
					option(value='yes', selected=clinical.other_dx === 'yes') yes
					option(value='no', selected=clinical.other_dx === 'no') no
		tr
			td
			td
				span History of neoadjuvant treatment
			td
				select.form-control.input-sm(name='history_of_neoadjuvant_treatment', type='text', required)
					option(value='yes', selected=clinical.history_of_neoadjuvant_treatment === 'yes') yes
					option(value='no', selected=clinical.history_of_neoadjuvant_treatment === 'no') no
		tr
			td
			td
				span Patient ID
			td
				input.form-control.input-sm(name='patient_id', value='#{clinical.patient_id || ""}', placeholder='EMR ID', type='text', required)
		tr
			td
				strong DIAGNOSIS
			td
				span Age at initial diagnosis
			td
				input.form-control.input-sm(name='age_at_initial_pathologic_diagnosis', value='#{clinical.age_at_initial_pathologic_diagnosis || ""}', placeholder='ex) Age at initial diagnosis', type='number', required)
		tr
			td
			td
				span Histological type
			td
				input.form-control.input-sm(name='histological_type', value='#{clinical.histological_type || ""}', placeholder='ex) infiltrating ductal carcinoma', type='text', required)
		tr
			td
			td
				span Anatomic subdivision in organ
			td
				input.form-control.input-sm(name='anatomic_neoplasm_subdivision', value='#{clinical.anatomic_neoplasm_subdivision || ""}', placeholder='ex) left lower outer quadrant', type='text', required)
		tr
			td
			td
				span ER status
			td
				//- input.form-control.input-sm(name='breast_carcinoma_estrogen_receptor_status',value='#{clinical.breast_carcinoma_estrogen_receptor_status || ""}', placeholder='negative', type='text', required)
				select.form-control.input-sm(name='breast_carcinoma_estrogen_receptor_status', type='text', required)
					option(value='negative', selected=clinical.breast_carcinoma_estrogen_receptor_status === 'negative') negative
					option(value='positive', selected=clinical.breast_carcinoma_estrogen_receptor_status === 'positive') positive

		tr
			td
			td
				span PR status
			td
				//- input.form-control.input-sm(name='breast_carcinoma_progesterone_receptor_status', value='#{clinical.breast_carcinoma_progesterone_receptor_status || ""}',placeholder='negative', type='text', required)
				select.form-control.input-sm(name='breast_carcinoma_progesterone_receptor_status', type='text', required)
					option(value='negative', selected=clinical.breast_carcinoma_progesterone_receptor_status === 'negative') negative
					option(value='positive', selected=clinical.breast_carcinoma_progesterone_receptor_status === 'positive') positive
		tr
			td
			td
				span HER2/neu status
			td
				//- input.form-control.input-sm(name='lab_proc_her2_neu_immunohistochemistry_receptor_status',value='#{clinical.lab_proc_her2_neu_immunohistochemistry_receptor_status || ""}', placeholder='negative', type='text', required)
				select.form-control.input-sm(name='lab_proc_her2_neu_immunohistochemistry_receptor_status', type='text', required)
					option(value='negative', selected=clinical.lab_proc_her2_neu_immunohistochemistry_receptor_status === 'negative') negative
					option(value='positive', selected=clinical.lab_proc_her2_neu_immunohistochemistry_receptor_status === 'positive') positive
		tr
			td
			td
				span HER2 status
			td
				input.form-control.input-sm(name='her2_immunohistochemistry_level_result', value='#{clinical.her2_immunohistochemistry_level_result || ""}',placeholder='ex) 0', type='text', required)
		tr
			td
			td
				span ER level
			td
				input.form-control.input-sm(name='er_level_cell_percentage_category', value='#{clinical.er_level_cell_percentage_category || ""}',placeholder='ex) <10%', type='text', required)
		tr
			td
			td
				span PR level
			td
				input.form-control.input-sm(name='progesterone_receptor_level_cell_percent_category', value='#{clinical.progesterone_receptor_level_cell_percent_category || ""}',placeholder='ex) <10%', type='text', required)
		tr
			td
			td
				span HIV status
			td
				input.form-control.input-sm(name='hiv_status', value='#{clinical.hiv_status || ""}', placeholder='ex) NA', type='text', required)
		tr
			td
			td
				span AJCC pathological T stage of primary tumor
			td
				input.form-control.input-sm(name='pathologic_t', value='#{clinical.pathologic_t || ""}', placeholder='ex) t2', type='text', required)
		tr
			td
			td
				span AJCC pathological N stage of lymph node
			td
				input.form-control.input-sm(name='pathologic_n', value='#{clinical.pathologic_n || ""}', placeholder='ex) n0(i+)', type='text', required)
		tr
			td
			td
				span AJCC pathological M stage of metastases
			td
				input.form-control.input-sm(name='pathologic_m', value='#{clinical.pathologic_m || ""}', placeholder='ex) m0', type='text', required)
		tr
			td
			td
				span AJCC pathological tumor stage
			td
				input.form-control.input-sm(name='pathologic_stage', value='#{clinical.pathologic_stage || ""}', placeholder='ex) stage iia', type='text', required)
		tr
			td
			td
				span Number Of Lymphnodes Examined
			td
				input.form-control.input-sm(name='lymph_node_examined_count', value='#{clinical.lymph_node_examined_count || ""}', placeholder='ex) 5', type='number', required)
		tr
			td
				strong FOLLOW-UP
			td
				span Radiation treatment
			td
				select.form-control.input-sm(name='radiation_therapy', type='text', required)
					option(value='yes', selected=clinical.radiation_therapy === 'yes') yes
					option(value='no', selected=clinical.radiation_therapy === 'no') no
		tr
			td
			td
				span Margin Status
			td
				//- input.form-control.input-sm(name='margin_status', value='#{clinical.margin_status || ""}',placeholder='negative', type='text', required)
				select.form-control.input-sm(name='margin_status', type='text', required)
					option(value='negative', selected=clinical.margin_status === 'negative') negative
					option(value='positive', selected=clinical.margin_status === 'positive') positive
		tr
			td
			td
				span Days to death
			td
				input.form-control.input-sm(name='days_to_death', value='#{clinical.days_to_death || ""}', placeholder='ex) 245', type='text', required)
		tr
			td
			td
				span Days to last follow-up
			td
				input.form-control.input-sm(name='days_to_last_followup', value='#{clinical.days_to_last_followup || ""}', placeholder='ex) 476', type='text', required)
		tr
			td
			td
				span Follow-up lost?
			td
				select.form-control.input-sm(name='lost_follow_up', type='text', required)
					option(value='yes', selected=clinical.lost_follow_up === 'yes') yes
					option(value='no', selected=clinical.lost_follow_up === 'no') no
