extends ../../../layout/basiclayout

block append stylesheets

block content

	div.container
		div.page-header
			h2 Clinical Data
				small  #{analysis_id}
				div.pull-right
					h5
						a(href="/menu/") List
		form#clinical_form.form-horizontal(action='#', autocomplete='off')
			input.hidden(name='analysis_id', value='#{analysis_id}',hidden)
			input#cancer_type.hidden(value='#{cancer_type}',hidden)
			input#method.hidden(value='#{(clinical.vital_status) ? "PUT" : "POST"}',hidden)
			//- 암종에 따라 같은 디렉토리 내에 cancer_type.jade 파일을 불러온다.
			if(cancer_type === 'luad' || cancer_type === 'lusc')
				include luad
			else if(cancer_type === 'brca' )
				include brca
			else if(cancer_type === 'gbm' )
				include gbm
			.text-center
				button.btn.btn-primary(type='submit') Save
		br


block append scripts
	script(src='/js/analysis/panel/clinical.js')
