table.table.table-condensed.table-striped
	thead
		tr
			th Category
			th Name
			th Value
	tbody
		tr
			td
				strong DEMOGRAPHIC & HISTORY
			td
				span Vital status
			td
				select.form-control.input-sm(name='vital_status', type='text', required)
					option(value='alive', selected=clinical.vital_status === 'alive') alive
					option(value='dead', selected=clinical.vital_status === 'dead') dead
		tr
			td
			td
				span Gender
			td
				select.form-control.input-sm(name='gender', type='text', required)
					option(value='male', selected=clinical.gender === 'male') male
					option(value='female', selected=clinical.gender === 'female') female
		tr
			td
			td
				span Race
			td
				input.form-control.input-sm(name='race', value='#{clinical.race || ""}', placeholder='ex) asian', type='text', required)
		tr
			td
			td
				span Ethnicity
			td
				input.form-control.input-sm(name='ethnicity', value='#{clinical.ethnicity || ""}', placeholder='ex) korean', type='text', required)
		tr
			td
			td
				span History of other malignancy
			td
				select.form-control.input-sm(name='other_dx', type='text', required)
					option(value='yes', selected=clinical.other_dx === 'yes') yes
					option(value='no', selected=clinical.other_dx === 'no') no
		tr
			td
			td
				span History of neoadjuvant treatment
			td
				select.form-control.input-sm(name='history_of_neoadjuvant_treatment', type='text', required)
					option(value='yes', selected=clinical.history_of_neoadjuvant_treatment === 'yes') yes
					option(value='no', selected=clinical.history_of_neoadjuvant_treatment === 'no') no
		tr
			td
			td
				span Smoking history
			td
				select.form-control.input-sm(name='tobacco_smoking_history', type='text', required)
					option(value='1',selected=clinical.tobacco_smoking_history === '1') Lifelong Non-Smoker
					option(value='2',selected=clinical.tobacco_smoking_history === '2') Current Smoker
					option(value='3',selected=clinical.tobacco_smoking_history === '3') Current Reformed Smoker for > 15 yrs
					option(value='4',selected=clinical.tobacco_smoking_history === '4') Current Reformed Smoker for < or = 15 yrs
					option(value='5',selected=clinical.tobacco_smoking_history === '5') Current Reformed Smoker, Duration Not Specified
		tr
			td
			td
				span Patient ID
			td
				input.form-control.input-sm(name='patient_id', value='#{clinical.patient_id || ""}', placeholder='EMR ID', type='text', required)
		tr
			td
				strong DIAGNOSIS
			td
				span Histological type
			td
				input.form-control.input-sm(name='histological_type', value='#{clinical.histological_type || ""}', placeholder='ex) lung adenocarcinoma- not otherwise specified (nos)', type='text', required)
		tr
			td
			td
				span Anatomic subdivision in organ
			td
				input.form-control.input-sm(name='anatomic_neoplasm_subdivision', value='#{clinical.anatomic_neoplasm_subdivision || ""}', placeholder='ex) r-upper', type='text', required)
		tr
			td
			td
				span AJCC pathological T stage of primary tumor
			td
				input.form-control.input-sm(name='pathologic_T', value='#{clinical.pathologic_T || ""}', placeholder='ex) t2', type='text', required)
		tr
			td
			td
				span AJCC pathological N stage of lymph node
			td
				input.form-control.input-sm(name='pathologic_N', value='#{clinical.pathologic_N || ""}', placeholder='ex) n0', type='text', required)
		tr
			td
			td
				span AJCC pathological M stage of metastases
			td
				input.form-control.input-sm(name='pathologic_M', value='#{clinical.pathologic_M || ""}', placeholder='ex) m0', type='text', required)
		tr
			td
			td
				span AJCC pathological tumor stage
			td
				input.form-control.input-sm(name='pathologic_stage', value='#{clinical.pathologic_stage || ""}', placeholder='ex) stage ib', type='text', required)
		tr
			td
			td
				span Age at initial diagnosis
			td
				input.form-control.input-sm(name='age_at_initial_pathologic_diagnosis', value='#{clinical.age_at_initial_pathologic_diagnosis || ""}', placeholder='ex) Age at initial diagnosis', type='number', required)
		tr
			td
				strong FOLLOW-UP
			td
				span Radiation treatment
			td
				select.form-control.input-sm(name='radiation_therapy', type='text', required)
					option(value='yes', selected=clinical.radiation_therapy === 'yes') yes
					option(value='no', selected=clinical.radiation_therapy === 'no') no
		tr
			td
			td
				span Residual tumor
			td
				input.form-control.input-sm(name='residual_tumor', value='#{clinical.residual_tumor || ""}', placeholder='ex) r0', type='text', required)
		tr
			td
			td
				span EGFR mutation type
			td
				input.form-control.input-sm(name='egfr_mutation_result', value='#{clinical.egfr_mutation_result || ""}', placeholder='ex) exon 19 deletion', type='text', required)
		tr
			td
			td
				span EML4-ALK gene fusion variant
			td
				input.form-control.input-sm(name='eml4_alk_translocation_result', value='#{clinical.eml4_alk_translocation_result || ""}', placeholder='ex) NA', type='text', required)
		tr
			td
			td
				span KRAS mutation type
			td
				input.form-control.input-sm(name='kras_mutation_result', value='#{clinical.kras_mutation_result || ""}', placeholder='ex) g12c', type='text', required)
		tr
			td
			td
				span Treatment outcome of primary therapy
			td
				input.form-control.input-sm(name='primary_therapy_outcome_success', value='#{clinical.primary_therapy_outcome_success || ""}', placeholder='ex) complete remission/response', type='text', required)
		tr
			td
			td
				span Treatment outcome of follow-up therapy
			td
				input.form-control.input-sm(name='followup_treatment_success', value='#{clinical.followup_treatment_success || ""}', placeholder='ex) complete remission/response', type='text', required)
		tr
			td
			td
				span Days to death
			td
				input.form-control.input-sm(name='days_to_death', value='#{clinical.days_to_death || ""}', placeholder='ex) 245', type='text', required)
		tr
			td
			td
				span Days to last follow-up
			td
				input.form-control.input-sm(name='days_to_last_followup', value='#{clinical.days_to_last_followup || ""}', placeholder='ex) 476', type='text', required)
		tr
			td
			td
				span Follow-up lost?
			td
				select.form-control.input-sm(name='lost_follow_up', type='text', required)
					option(value='yes', selected=clinical.lost_follow_up === 'yes') yes
					option(value='no', selected=clinical.lost_follow_up === 'no') no
