/* Comutation Plot style css attribute */
.container {
  width 		: 1350px;
  max-width	: none !important;
}

.chart_container 	{
	visibility: hidden;
	width 		: 1350px;
	margin-top: 60px;
}

div[class*='col-xs-'] {
	overflow: hidden;
	padding : 0px;
}

.popover-content {
	padding: 2px;
}

#divider {
	margin-top: 10px;
	margin-bottom: 10px;
}

#settingList {
	margin: 0px;
}

#settingListItems {
	padding: 5px;
}

#settingCancel {
	margin: 10px;
}

#settingOk {
	margin: 10px;
}

#sortTitle text {
	fill: #626262;
	font-size: 11px;
	font-weight: bold;
	font-style: italic;
}

#sortSample {
	height : 100px;
}

#sampleAxis {
	height : 100px;
}

#samplePatient {
	height : 100px;
}

#sampleYaxis text {
	font-size: 8px;
	fill: #626262;
}

#sampleYaxis path, line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #BFBFBF;
	stroke-width: 1px;
}

#sample {
	width: 2200px;
	height : 100px;
}

#addRemove {
	height: 50px;
}

#txtGroupName {
	fill: #626262;
	font-size: 8px;
}

#groupName {
	height: 50px;
}

#groupPatient {
	height: 50px;
}

#group {
	width: 2200px;
	height: 50px;
}

#navi {
	height: 50px;
}

#naviScale {
	margin-left: 10px;
	margin-top: 10px;
}

#naviInit {
	margin-top: 10px;
}

#legend {
	height : 500px;
}

#sortGene {
	height: 30px;
}

#gene {
	height : 500px;
}

#geneXaxis text, #geneYaxis text {
	font-size: 8px;
	fill: #626262;
}

#geneXaxis path, line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #BFBFBF;
	stroke-width: 1px;
}

#geneYaxis path {
	fill: none;
	stroke: none;
}

#geneYaxis line {
	fill: none;
	stroke: none;
}

#mutationPatient {
	height: 500px;
}

#mutationPatient svg {
	border: 1px solid #ddd;
}

#outerComutation {
	overflow-x: scroll;
	border: 1px solid #ddd;
}

#comutation {
	width: 2200px;
	height : 500px;
}

#sortPq {
	height: 30px;
}

#pq {
	height : 500px;
}

#pqXaxis text {
	font-size: 8px;
	fill: #626262;
}

#pqXaxis path, line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #BFBFBF;
	stroke-width: 1px;
}

.btn-group 	{
	position: absolute;
}

#comutationplot_patient_heatmap	{
	width : 7px;
	height : 580px;
}

#comutationplot_sample_lm	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 100px;
}

#comutationplot_sample_yaxis_title 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height : 100px;
}

#comutationplot_patient_sample 	{
	float: left;
	padding: 0px;
	margin-right: 5px;
	overflow: hidden;
}

#comutationplot_sample 	{
	float: left;
	padding-bottom: 0px;
	margin: 0px;
	width: 1100px;
	height: 100px;
	overflow : hidden;
	border: 0px 1px solid #fff;
}

#comutationplot_empty_rm 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 100px;
}

#comutationplot_group_empty	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 90px;
}

#comutationplot_groups_name 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
}

#comutationplot_patient_groups 	{
	float: left;
	padding: 0px;
	margin-right: 5px;
	overflow: hidden;
}

#comutationplot_groups	{
	float: left;
	padding-bottom: 0px;
	margin: 0px;
	width: 1100px;
	overflow: hidden;
	border: 0px 1px solid #fff;
}

#comutationplot_scale 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 50px;
}

#comutationplot_legend 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 600px;
}

#comutationplot_gene		{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 150px;
	height: 600px;
}

#comutationplot_patient_heatmap 	{
	padding: 0px;
	margin-right: 2.5px;
	float: left;
	overflow: hidden;
	border: 1px solid #d4d4d4;
}

#comutationplot_border 	{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 1100px;
	height: 600px;
	overflow-x: scroll;
	overflow-y: hidden;
	border: 1px solid #d4d4d4;
}

#comutationplot_heatmap 	{
	padding: 0px;
	margin: 0px;
	width: 1100px;
	height: 580px;
}

#comutationplot_pq 		{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100px;
	height: 600px;
}

#comutationplot_legend_lm 	{
	float: left;
	padding: 0px;
	margin : 0px;
	width: 150px;
	height: 30px;
}

#comutationplot_gene_title{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 30px;
}

#comutationplot_legend_patient 	{
	float: left;
	width: 12px;
	height : 30px;
	margin: 0px;
	padding: 0px;
}

#comutationplot_legend_empty	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 1100px;
	height: 30px;
}

#comutationplot_pq_title 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 30px;
}

/*.NA 	{
	fill : #d5dddd;
}

.Squamoid {
	fill : #05146b;
}

.Magnoid {
	fill : #2fcbff;
}

.Bronchioid 	{
	fill : #ff809f;
}

.Currentreformedsmokerformore15years 	{
	fill : #FEC39C;
}

.LifelongNon-smoker 	{
	fill : #93FE2F;
}

.Currentreformedsmokerforlessorsame15years	{
	fill : #F1FE86;
}

.Currentsmoker {
	fill : #980713;
}

.CurrentReformedSmokerDurationNotSpecified 	{
	fill : #FD0D21;
}

.AcinarpredominantAdc {
	fill : #664A1F;
}

.AdenocarcinomaNOS 	{
	fill : #815540;
}

.Colloidadenoca 	{
	fill : #73324F;
}

.Invasivemucinous	{
	fill : BD9011;
}

.LepidicpredominantAdc 	{
	fill : #2F5930;
}

.MicropapillarypredomAdc 	{
	fill : #445D44;
}

.Otherseecomment 	{
	fill : #0B8782;
}

.PapillarypredominantAdc 	{
	fill : #EB4F8A;
}

.SolidpredominantAdc 	{
	fill : #EE9DAD;
}

.NSCLCfavor
*/
/* Comutation Plot navigation custom spinner css style code that used to bootstrap */
.spinner {
	width: 70px;
	/*margin-top: 10px;*/
	margin-left: 20px;
	float : left;
}
.spinner input {
	text-align: right;
}
.input-btn {
	float : left;
	width : 10px;
	/*margin-top: 10px;
	margin-left: 5px;*/
}
.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
	position: absolute;
    	top: -1px;
	left: 4px;
}
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
/* Preserve event css attirubute during processing transition */
.preserve_events	{
	pointer-events : none;
}

.chart_container 	{
	visibility: hidden;
	width : 1530px;
}

.btn-group 	{
	position: absolute;
}

#comutationplot_patient_heatmap	{
	width : 7px;
	height : 580px;
}

#comutationplot_sample_yaxis_title 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height : 100px;
}

#comutationplot_sample 	{
	float: left;
	padding-bottom: 0px;
	margin: 0px;
	width: 1100px;
	height: 100px;
	overflow : hidden;
}

#comutationplot_empty_rm 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 100px;
}

#comutationplot_groups_name 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
}

#comutationplot_groups 	{
	float: left;
	padding-bottom: 0px;
	margin: 0px;
	width: 1100px;
	overflow: hidden;
}

#comutationplot_scale 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 50px;
}

#comutationplot_gene		{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 150px;
	height: 600px;
}

#comutationplot_border 	{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 1100px;
	height: 600px;
	overflow-x: scroll;
	overflow-y: hidden;
	border : 1px solid rgb(236, 236, 236);
}

#comutationplot_heatmap 	{
	padding: 0px;
	margin: 0px;
	width: 1100px;
	height: 580px;
}

#comutationplot_pq 		{
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100px;
	height: 600px;
}

#comutationplot_gene_title{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 100px;
}

#comutationplot_legend	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 1100px;
	height: 100px;
}

#comutationplot_pq_title 	{
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100px;
	height: 100px;
}

/* Comutation Plot navigation custom spinner css style code that used to bootstrap
.spinner {
	width: 70px;
	/*margin-top: 10px;*/
	margin-left: 20px;
	float : left;
}
.spinner input {
	text-align: right;
}
.input-btn {
	float : left;
	width : 10px;
	/*margin-top: 10px;
	margin-left: 5px;*/
}
.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
	position: absolute;
    	top: -1px;
	left: 4px;
}
.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
/* Preserve event css attirubute during processing transition */
.preserve_events	{
	pointer-events : none;
}*/