/* Navbar configure */
#navbarInputLi	{
	margin-right: 15px;
}

.navbar-form	{
	padding: 0px;
	margin-right: -20px;
}

#inputScale	{
	width: 80px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 2px;
	background-color: #222222;
	border-color: #222222;
	color: #9d9d9d;
	text-align: center;
}