extends ../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/ladda/dist/ladda-themeless.min.css')
	link(rel='stylesheet', href='/stylesheets/login.css')

block content
	div.container
		div(style={'padding-top': '60px'})
			form.form-signin(method='post',action='/login')
				h2.form-signin-heading Login
				if message.length > 0
					div.alert.alert-danger #{message}
				input#username.form-control(placeholder='Your Email', name='username', required='', autofocus='', type='email')
				input#password.form-control(placeholder='Password', name='password', required='', type='password')
				div.form-group
					div
						div.checkbox
							label
								input(type='checkbox',name='remember',checked)
								| Remember me
				button.btn.btn-lg.btn-primary.btn-block.ladda-button(type='submit',data-style='zoom-in')
					span.ladda-label Sign in
				hr
				//- p.text-right Forgot password?
				//- 	a#forgot-password(href='/commingsoon') Click here to reset.
				p.text-left New user? 
					a#forgot-password(href='/register') Click here to register.

block append scripts
	script(src='/bower_components/ladda/js/spin.js')
	script(src='/bower_components/ladda/js/ladda.js')
	script.
		$(document).ready(function() {
			Ladda.bind('button[type=submit]');
		});
