extends ../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/stylesheets/register.css')
	link(rel='stylesheet', href='/bower_components/country-select-js/build/css/countrySelect.css')
	link(rel='stylesheet', href='/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css')

block content
	div.container
		div(style={'padding-top': '60px','width': '600px','margin-left':'auto','margin-right':'auto'})
			table.table.table-striped
				thead
					tr
						th(colspan=2) Personal
				tbody
					tr
						td ID (Email address)
						td #{profile.username}
					tr
						td Full name
						td: a#fullname('data-value'=profile.fullname)
					tr
						td Gender
						td: a#gender('data-value'=profile.gender)
					tr
						td Date of Birth (mm/dd/yyyy)
						td: a#birth #{profile.birth}
					tr
						td Mobile (Only Number)
						td: a#mobile('data-value'=profile.mobile)
					tr
						td Country
						td: a#country('data-value'=profile.country)
					tr
						td Institute
						td: a#institute_short('data-value'=profile.institute_short)
					tr
						td Password
						td: a(href='#', data-toggle='modal', data-target='#passwordModal') Change it
			div


	div#passwordModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='passwordModalLabel')
		div.modal-dialog(role='document')
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#passwordModalLabel.modal-title Change Password
				div.modal-body
					form#passordform.form-horizontal
						div.form-group
							label.col-sm-4.control-label(for='inputPassword') New Password
							div.col-sm-8
								input#new_password.form-control(type='password', placeholder='A Password must be at least 5 characters long')
						div.form-group
							label.col-sm-4.control-label(for='inputPassword') Confirm New Password
							div.col-sm-8
								input#confirm_password.form-control(type='password', placeholder='Confirm it')
						div.form-group
							h4#message.text-center
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#changeButton.btn.btn-primary(type='button') Change It


block append scripts
	script(src='/bower_components/country-select-js/build/js/countrySelect.js')
	script(src="/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js")
	script(src="/bower_components/moment/moment.js")
	script(src='/js/users/profile.js')
	script.
		$.fn.editable.defaults.pk = '#{profile.id}';
