extends ../layout/basiclayout

block content
	div.container
		div(style={'padding-top': '60px','width':'970px'})
			div.panel.panel-default
				div.panel-heading
					h3.panel-title Welcome to CGIS
				div.panel-body
					p Please request admin to enable your account.
