extends ../../layout/basiclayout

block append stylesheets

block content
	- function getTobacoString(no){
	- 	if(no === '1') return 'Lifelong Non-Smoker';
	- 	if(no === '2') return 'Current Smoker';
	- 	if(no === '3') return 'Current Reformed Smoker for > 15 yrs';
	- 	if(no === '4') return 'Current Reformed Smoker for < or = 15 yrs';
	- 	if(no === '5') return 'Current Reformed Smoker, Duration Not Specified';
	- }

	- function getValue(clinical, column_name){
	- 	if(column_name !== 'tobacco_smoking_history')	return clinical[column_name];
	- 	else return getTobacoString(clinical[column_name]);
	- }

	div.container
		span#analysisid.hidden #{analysis_id}
		span#cancer_type.hidden #{cancer_type}
		div.page-header
			h3#clinical Clinical Data
		form.form-horizontal
			table.table.table-condensed.table-striped
				thead
					th Category
					th Name
					th Value
				tbody
					- var pre_name = '';
					each category in categories
						tr
							td
								- if(prev_name !== category.category_name)
									strong #{category.category_name.toUpperCase()}
								- prev_name = category.category_name;
							td
								span #{category.column_full_name}
							td
								input.form-control.input-sm(name='#{category.column_name}', type='text',placeholder='#{getValue(clinical, category.column_name)}') 



block append scripts
	//- script(src='/js/analysis/sample/analysis.js')
	script(src="/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js")
	script(src='/js/analysis/sample/clinical.js')
	//- script.
	//- 	$.fn.editable.defaults.pk = '#{analysis.analysis_id}';
