extends ../../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.css')
	link(rel='stylesheet', href='/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')

	style.
		.comment {
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		#table .select2-selection, #table .select2-selection ul li {
			background-color:white !important;
		}
		#table .select2-selection--multiple {
			border: 0px !important;
		}
		.bootstrap-tagsinput {
			width:100%;
		}
		.hugo_symbols {
		}
		.error {
			color: #a94442;
		}
		.action-link{
			padding-right: 5px;
		}
block content
	div.container
		div.col-lg-12
			div.page-header(style={'position':'relative'})
				h2 Panel Management
			div.pull-right(style='padding: 5px 10px;')
				a(href='#',data-toggle="modal", data-target="#detailModal" ,data-op="insert")
					i.fa.fa-plus.action-link
					span new
			table#table

	#detailModal.modal.fade(tabindex='-1', role='dialog')
		.modal-dialog(role='document',style='width:700px;')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4.modal-title Panel Management
				.modal-body
					form#panelForm.form-horizontal
						input#op.hidden(type='text',name="op", required)
						input#id.hidden(type='text',name="id", required)
						.form-group
							label.col-sm-2.control-label(for='panel_id') Panel ID
							.col-sm-10
								input#panel_id.form-control(type='text',name="panel_id", required)
						.form-group
							label.col-sm-2.control-label(for='name') Name
							.col-sm-10
								input#name.form-control(type='text',name="name", required)
						.form-group
							label.col-sm-2.control-label(for='name') Version
							.col-sm-10
								input#version.form-control(type='number',min='1',name="version", required)
						.form-group
							label.col-sm-2.control-label(for='hugo_symbols') Gene list
							.col-sm-10
								input#hugo_symbols.form-control(type='text',name="hugo_symbols", required)
								//- div.text-muted
								//- 	i.fa.fa-info-circle
								//- 	span  입력상자에 Gene을 입력하십시오.
				.modal-footer
					.row
						.col-xs-6.col-xs-offset-6
							button#saveButton.btn.btn-primary(type='button') Save
							button.btn.btn-default(type='button', data-dismiss='modal') Close

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.js')
	//- TODO bootstrap-table-cookie version 1.2.2.에서만 제대로 작동. 현 버전 1.2.1 따라서 1.2.2가 되면 아래 코드를 대체할 것.
	script(src='/js/bootstrap-table-cookie.js')
	script(src='/bower_components/moment/min/moment-with-locales.js')
	script(src='/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
	script(src='/js/panel/index.js?v=0')
