extends ../../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css')
	style.
		.right-menu {
			float: right;
			margin-top: 13px;
			margin-right: 5px;
			font-size: 65%;
		}
		.table.table-striped.table-bordered > thead > tr > th {
			text-align: center;
			vertical-align: middle;
		}
		.table.table-striped.table-bordered > tbody > tr > td {
			text-align: center;
			vertical-align: middle;
		}
		.title1 {
			font-size: 16px;
		}
		.category-table{
			margin-top: 15px;
		}
		.header-icon {
			margin-right: 8px;
			color: rgba(51, 51, 51, 0.45);
		}
block content

	//- - function getYesNo(no){
	//- - 	return (no === 1) ? '<i class="fa fa-check"></i>' : '';
	//- - }
	//- - function upper(str){
	//- - 	return str.toUpperCase();
	//- - }
	//- - function getSeqList(list,seq_type,tissue_type){
	//- -    var rtn = list.filter(function(item){
	//- -	  return (item.sequencing_type === seq_type && item.tissue_type === tissue_type);
	//- -    });
	//- -    return rtn || [];
	//- - }
	//- - function getAnalysisList(list,analysis_type,tissue_type){
	//- -    var rtn = list.filter(function(item){
	//- -	  return (item.analysis_type === analysis_type && item.tissue_type === tissue_type);
	//- -    });
	//- -    return rtn || [];
	//- - }
	//- - function getSeqLatest(list,seq_type,tissue_type){
	//- -    return getSeqList(list,seq_type,tissue_type)[0] || {};
	//- - }
	//- - function getAnalysisLatest(list,analysis_type,tissue_type){
	//- -    return getAnalysisList(list,analysis_type,tissue_type)[0] || {};
	//- - }

	//- - var seq_wes_n_string = JSON.stringify(getSeqList(sequencingHistory,'wes','N'));
	//- - var seq_wes_t_string = JSON.stringify(getSeqList(sequencingHistory,'wes','T'));
	//- - var seq_wts_n_string = JSON.stringify(getSeqList(sequencingHistory,'wts','N'));
	//- - var seq_wts_t_string = JSON.stringify(getSeqList(sequencingHistory,'wts','T'));

	//- - var analysis_wes_n_string = JSON.stringify(getAnalysisList(analysisHistory,'wes','N'));
	//- - var analysis_wes_t_string = JSON.stringify(getAnalysisList(analysisHistory,'wes','T'));
	//- - var analysis_wts_n_string = JSON.stringify(getAnalysisList(analysisHistory,'wts','N'));
	//- - var analysis_wts_t_string = JSON.stringify(getAnalysisList(analysisHistory,'wts','T'));

	//- - var last_seq_wes_n = getSeqLatest(sequencingHistory,'wes','N');
	//- - var last_seq_wes_t = getSeqLatest(sequencingHistory,'wes','T');
	//- - var last_seq_wts_n = getSeqLatest(sequencingHistory,'wts','N');
	//- - var last_seq_wts_t = getSeqLatest(sequencingHistory,'wts','T');

	//- - var last_analysis_wes_n = getAnalysisLatest(analysisHistory,'wes','N');
	//- - var last_analysis_wes_t = getAnalysisLatest(analysisHistory,'wes','T');
	//- - var last_analysis_wts_n = getAnalysisLatest(analysisHistory,'wts','N');
	//- - var last_analysis_wts_t = getAnalysisLatest(analysisHistory,'wts','T');

	- function getTobacoString(no){
	- 	if(no === '1') return 'Lifelong Non-Smoker';
	- 	if(no === '2') return 'Current Smoker';
	- 	if(no === '3') return 'Current Reformed Smoker for > 15 yrs';
	- 	if(no === '4') return 'Current Reformed Smoker for < or = 15 yrs';
	- 	if(no === '5') return 'Current Reformed Smoker, Duration Not Specified';
	- }

	- function getValue(clinical, column_name){
	- 	if(column_name !== 'tobacco_smoking_history')	return clinical[column_name];
	- 	else return getTobacoString(clinical[column_name]);
	- }

	div.container
		div(style={'width': '800px','margin-left':'auto','margin-right':'auto','margin-bottom':'50px'})
			span#analysisid.hidden #{analysis.analysis_id}
			span#cancer_type.hidden #{analysis.cancer_type}
			div.page-header
				h3 Analysis Results
					small  #{analysis.analysis_id}
					span.right-menu.no-print
						a(href='/menu/') List
			table#analysistable.table.table-striped.table-bordered
				thead
					tr
						th #
						th Type
						th Date
						th Modifier
						th Message
						//- th History
				tbody
					each history in analysisHistory
						tr
							td #{history.seq_no}
							td #{history.status_short}
							td #{history.modify_date}
							td #{history.modify_user}
							td #{history.message}
							//- td
							//- 	if (history.status_short)
							//- 		a(href='#', data-toggle='modal', data-target='#historyModal',data-title='Analysis',data-type='WES',data-tissue='Normal', data-json='#{JSON.stringify(history)}')
							//- 			span.glyphicon.glyphicon-search(aria-hidden='true')
			if(clinical)
				div.page-header
					h3#clinical Clinical Data
				div
					ul.nav.nav-tabs(role="tablist")
						li.active(role="presentation")
							a.title1(href='#demographictab', data-toggle='tab',role="tab", aria-controls="demographictab") Demographic & History
						li
							a.title1(href='#diagnosistab', data-toggle='tab',role="tab", aria-controls="diagnosistab") Diagnosis
						li
							a.title1(href='#followuptab', data-toggle='tab',role="tab", aria-controls="followuptab") Follow up
					div.tab-content
						div#demographictab.tab-pane.fade.in.active(role="tabpanel")
							table.category-table.table.table-striped.table-hover
								tbody
									each category in categories
										if category.category_name === 'demographic & history'
											tr
												th.boarderless #{category.column_full_name}
												td.boarderless
													a.editable.editable-click(id='#{category.column_name}') #{getValue(clinical, category.column_name)}
						div#diagnosistab.tab-pane.fade(role="tabpanel")
							table.category-table.table.table-striped.table-hover
								tbody
									each category in categories
										if category.category_name === 'diagnosis'
											tr
												th.boarderless #{category.column_full_name}
												td.boarderless
													a.editable.editable-click(id='#{category.column_name}') #{getValue(clinical, category.column_name)}

						div#followuptab.tab-pane.fade(role="tabpanel")
							table.category-table.table.table-striped.table-hover
								tbody
									each category in categories
										if category.category_name === 'follow-up'
											tr
												th.boarderless #{category.column_full_name}
												td.boarderless
													a.editable.editable-click(id='#{category.column_name}') #{getValue(clinical, category.column_name)}

	// Modal
	//- div#historyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='historyModalLabel')
	//- 	div.modal-dialog(role='document')
	//- 		div.modal-content
	//- 			div.modal-header
	//- 				button.close(type='button', data-dismiss='modal', aria-label='Close')
	//- 					span(aria-hidden='true') ×
	//- 				h3#historyModalLabel.modal-title
	//- 			div.modal-body
	//- 				table#historyTable.table.table-striped.table-bordered
	//- 					thead
	//- 						tr
	//- 							th #
	//- 							th Status
	//- 							th User
	//- 							th Date
	//- 							th Message
	//- 					tbody
	//- 			div.modal-footer
	//- 				button.btn.btn-default(type='button', data-dismiss='modal') Close
block append scripts
	//- script(src='/js/analysis/sample/analysis.js')
	script(src="/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js")
	script(src='/js/analysis/sample/clinical.js')
	//- script.
	//- 	$.fn.editable.defaults.pk = '#{analysis.analysis_id}';
