extends ../../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	style.
		#dropbox:hover {
			background: #F5FFF5;
		}
		.dragover {
			background: #F5FFF5;
		}
		.topright{
			position: absolute;
			top: 10px;
			right: 0px;
		}
		.inputcenter{
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
		}
block content
	div.container
		div(style={'width': '800px','margin-left':'auto','margin-right':'auto','margin-bottom':'50px'})
			div.page-header(style={"position":"relative"})
				h2 Clinical Data Upload
				div.topright
					a#resetlink(href='#') Reset
			div#step1div.panel.panel-default
				div.panel-heading Step 1 : Select Cancer Type
				div.panel-body
					div.radio
						label
							input(type='radio', name='cancer_type', value='brca')
							| BRCA - You can download a sample file at 
							a(href='/data/sample/clinical_brca.tsv',download) this link
					div.radio
						label
							input(type='radio', name='cancer_type', value='gbm')
							| GBM - You can download a sample file at 
							a(href='/data/sample/clinical_gbm.tsv',download) this link
					div.radio
						label
							input(type='radio', name='cancer_type', value='luad')
							| LUAD - You can download a sample file at 
							a(href='/data/sample/clinical_luad.tsv',download) this link
					div.text-center
						button#step1nextbutton Next
						p#cancertypemsg.text-danger.hidden Select Cancer type !!!
			div#step2div.panel.panel-default.hidden
				div.panel-heading Step 2 : Upload TSV File
				div.panel-body
					div#dropbox.well.well-lg
						//- span.glyphicon.glyphicon-folder-open(aria-hidden='true')
						h1.text-center
							svg.box__icon(xmlns='http://www.w3.org/2000/svg', width='50', height='43', viewbox='0 0 50 43')
								path(d='M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z')
						h3.text-center Drop 
							span#cancertypetitle.text-primary
							|  TSV File Here....
						input#txtFileUpload.inputcenter(type='file', name='File Upload', accept='.tsv')
			div#step3div.hidden
				div.well.well-sm Step 3 : Check data 
				div#tablediv
				//- table#table
				div.text-center(style={'margin-top':'20px','margin-bottom':'20px'})
					button#uploadbutton.btn.btn-default.hidden(type='button') Upload
			div#step4div.hidden
				div.well.well-sm Step 4 : Check upload results
				h3.text-center
					span.text-success Success : 
					span#success.text-success 0
					span(style={'margin-left':'40px'})
					span.text-danger Error : 
					span#error.text-danger 0
				div#errormsgdiv.hidden
					h5 * Check error log
					table#errormsgtable.table(data-toggle="table", data-pagination='true',data-pageSize='10')
						thead
							tr
								th(data-field='analysis_id') analysis_id
								th(data-field='message') Error message
				div.text-center
					button#resetbutton Upload again
block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js')
	script(src='/bower_components/jquery-csv/src/jquery.csv.min.js')
	script(src='/js/analysis/sample/clinical_upload.js')
