extends ../../layout/basiclayout

block append stylesheets
	link(href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css', rel='stylesheet')
	style.
		.right-menu {
			float: right;
			margin-top: 13px;
			margin-right: 5px;
			font-size: 65%;
		}
		.text-must {
			margin-left: 4px;
			color: #a94442;
		}
block append scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
	script(src='/js/analysis/sample/register.js')

block content
	div.container(style={'max-width': '700px','margin-top':'20px'})
		div.page-header.text-center
			h3
				i.fa.fa-sign-in(aria-hidden='true') 
				|  Registration and Analysis
				span.right-menu.no-print
					a(href='/menu/') List
			hr(style='margin-bottom:10px;')
			span.text-warning
				i.fa.fa-info-circle(aria-hidden='true') 
				|  Files must be uploaded before registeration. for more information, pls contact admin.
		div
			form#registerForm.form-horizontal(autocomplete='off',onsubmit="return false;")
				div.form-group
					label.col-sm-4.control-label(for="analysis_id") Analysis ID
					div.col-sm-8
						input#analysis_id.form-control.input-sm(placeholder='자동 생성합니다.', name='analysis_id', readonly, type='text' )
				div.form-group
					label.col-sm-4.control-label(for="cancer_type") Cancer Type
						span.text-must *
					div.col-sm-8
						select#cancer_type.form-control(name='cancer_type')
							option(value='luad',selected) LUAD: Lung Adenocarcinoma
							option(value='lusc') LUSC: Lung Squamous Cell Carcinoma
							option(value='brca') BRCA: Breast Cancer
							option(value='gbm') GBM: Glioblastoma Multiforme
				div.form-group
					label.col-sm-4.control-label Panel
						span.text-must *
					div.col-sm-8
						select#panel.form-control
						.row(style='margin-top:4px;')
							.col-sm-9(style='padding-right:0px;')
								input#panel_id.form-control.input-sm(placeholder='Panel ID', name='panel_id', required, readonly, type='text' )
							.col-sm-3(style='padding-left:4px;')
								input#version.form-control.input-sm(placeholder='Version', name='version', required, readonly, type='text' )
				hr
				div.form-group
					label.col-sm-4.control-label Exist normal?
						span.text-must *
					div.col-sm-8
						label
							input(type='radio', name='exist_normal', value='Y')
							|  Yes
						label(style='margin-left:10px;')
							input(type='radio', name='exist_normal', value='N', checked='')
							|  No
				div.form-group.has-warning(style='margin-bottom:0px;')
					label.col-sm-4.control-label File name filter
					div.col-sm-8
						input#filter.form-control.input-sm(type='text')
						span.help-block
							i.fa.fa-info-circle(aria-hidden='true') 
							|  Filter will restrict below file selections. 
				div.form-group
					label.col-sm-4.control-label VCF File
						span.text-must *
					div.col-sm-8
						select#vcf_location.form-control(name='vcf_location', required, type='text')
				div.form-group
					label.col-sm-4.control-label Tumor BAM File
						//- span.text-must *
					div.col-sm-8
						select#bam_tumor_location.form-control(name='bam_tumor_location', type='text')
				div.form-group
					label.col-sm-4.control-label Tumor BAI File
						//- span.text-must *
					div.col-sm-8
						select#bai_tumor_location.form-control(name='bai_tumor_location', type='text')
				div.form-group
					label.col-sm-4.control-label Normal BAM File
					div.col-sm-8
						select#bam_normal_location.form-control(name='bam_normal_location', type='text', disabled='')
				div.form-group
					label.col-sm-4.control-label Normal BAI File
					div.col-sm-8
						select#bai_normal_location.form-control(name='bai_normal_location', type='text', disabled='')
				hr
				div.form-group
					label.col-sm-4.control-label(for="clinical_data_ref") Clinical data ref.
					div.col-sm-8
						input#clinical_data_ref.form-control.input-sm(name='clinical_data_ref', type='text')
				div.form-group
					label.col-sm-4.control-label(for="sequencing_interface_ref") Seq. interface ref
					div.col-sm-8
						input#sequencing_interface_ref.form-control.input-sm(name='sequencing_interface_ref', type='text')
				div.form-group
					label.col-sm-4.control-label(for="comments") Comments
					div.col-sm-8
						input#comments.form-control.input-sm(name='comments', type='text')
				div.form-group
					div.col-sm-offset-4.col-sm-4
						a#submitButton.btn.btn-primary(type='button') Register and Analysis
						//- button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#messageModal')
						//- 	| Launch demo modal

	#messageModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop='static')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title.text-success
						span.glyphicon.glyphicon-ok-sign
						|  Success
				.modal-body
					h4
						p Registered Analysis ID is 
							mark#registered_analysis_id 
							| .
						p It'll talke 10 ~ 20 minutes to analysis and it depends on file size.
				.modal-footer
					.row
						.col-sm-6.text-left
							a(href='/menu/sample/register') Another registeration
						.col-sm-6.text-right
							a(href='/menu/') List
