extends ../../layout/basiclayout

block append stylesheets
	link(href='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css', rel='stylesheet')

	style.
		.right-menu {
			float: right;
			margin-top: 13px;
			margin-right: 5px;
			font-size: 65%;
		}

block content
	div.container(style={'max-width': '760px','margin-top':'20px'})
		input#biobank_url.hidden(value='#{biobank_url}')
		div.page-header 
			h3(style={'margin-left': '170px'}) Internal Sample Registration
				span.right-menu.no-print
					a(href='/menu/') List

		div
			form#registerForm.form-horizontal(method='post')
				div.form-group
					label.col-sm-4.control-label(for="sample_id") Sample ID
					div.col-sm-8
						input#sample_id.form-control(placeholder='자동 생성합니다.', name='sample_id', required='',readonly, type='text' )
				div.form-group
					label.col-sm-4.control-label(for="sequencing_inst") Sequencing Institute
					div.col-sm-8
						input#sequencing_inst.form-control(type='text',value='INTERNAL', checked, name='sequencing_inst', readonly)
				div.form-group
					label.col-sm-4.control-label(for="cancer_type") Cancer Type
					div.col-sm-8
						select#cancer_type.form-control(name='cancer_type')
							option(value='luad',selected) LUAD: Lung Adenocarcinoma
							option(value='lusc') LUSC: Lung Squamous Cell Carcinoma
							option(value='brca') BRCA: Breast Cancer
							option(value='gbm') GBM: Glioblastoma Multiforme
				div.form-group
					label.col-sm-4.control-label WES
					div.col-sm-2.checkbox
						label 
							input#wes_normal(type='checkbox',value='1', checked,name='wes_normal')
							|  Normal
					div.col-sm-offset-1.col-sm-5.checkbox
						label 
							input#wes_tumor(type='checkbox',value='1', checked,name='wes_tumor')
							|  Tumor
				div.form-group
					label.col-sm-4.control-label WTS
					div.col-sm-2.checkbox
						label 
							input#wts_normal(type='checkbox',value='1', checked,name='wts_normal')
							|  Normal
					div.col-sm-offset-1.col-sm-5.checkbox
						label 
							input#wts_tumor(type='checkbox',value='1', checked,name='wts_tumor')
							|  Tumor
				div.form-group
					label.col-sm-4.control-label.text-primary(for="wes_normal_r1_filename") WES Normal R1 File
					div.col-sm-8
						select#wes_normal_r1_filename.form-control(name='wes_normal_r1_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-primary(for="wes_normal_r2_filename")            R2 File
					div.col-sm-8
						select#wes_normal_r2_filename.form-control(name='wes_normal_r2_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-danger(for="wes_tumor_r1_filename") WES Tumor R1 File
					div.col-sm-8
						select#wes_tumor_r1_filename.form-control(name='wes_tumor_r1_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-danger(for="wes_tumor_r2_filename")           R2 File
					div.col-sm-8
						select#wes_tumor_r2_filename.form-control(name='wes_tumor_r2_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-primary(for="wts_normal_r1_filename") WTS Normal R1 File
					div.col-sm-8
						select#wts_normal_r1_filename.form-control(name='wts_normal_r1_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-primary(for="wts_normal_r2_filename")           R2 File
					div.col-sm-8
						select#wts_normal_r2_filename.form-control(name='wts_normal_r2_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-danger(for="wts_tumor_r1_filename") WTS Tumor R1 File
					div.col-sm-8
						select#wts_tumor_r1_filename.form-control(name='wts_tumor_r1_filename')
							option 
				div.form-group
					label.col-sm-4.control-label.text-danger(for="wts_tumor_r2_filename")           R2 File
					div.col-sm-8
						select#wts_tumor_r2_filename.form-control(name='wts_tumor_r2_filename')
							option 
				div.form-group
					label.col-sm-4.control-label(for="comments") Comments
					div.col-sm-8
						input#comments.form-control(name='comments', type='text')
				div.form-group
					div.col-sm-offset-4.col-sm-4
						button#submitButton.btn.btn-primary(type='submit', data-style='zoom-in') Register

	div#myPleaseWait.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-hidden='true', data-backdrop='static')
		div.modal-dialog.modal-sm
			div.modal-content
				div.modal-header
					h4.modal-title
						span.glyphicon.glyphicon-time
						|  Please Wait
				div.modal-body
					div#message(style={'margin-left': '4px','margin-bottom': '4px'})
					div.progress
						div.progress-bar.progress-bar-striped.active(style='width: 100%')
block append scripts
	script(src='//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js')
	script(src='/js/analysis/sample/register_self.js')
