extends ../../layout/basiclayout

block append stylesheets
block append scripts

block content
	div.container(style={'max-width': '700px','margin-top':'20px'})
		.panel.panel-primary
			.panel-heading
				h2.panel-title Success
			.panel-body
				h4
					p Registered Analysis ID is #{analysis_id}.
					p It'll talke 10 ~ 20 minutes to analysis and it depends on file size.
			.panel-footer
				.row
					.col-sm-6
						a(href='/menu/sample/register') Another registeration
					.col-sm-6.text-right
						a(href='/menu/') List
