extends ../../layout/basiclayout
block append stylesheets
	style.
		.right-menu {
			float: right;
			margin-top: 13px;
			margin-right: 5px;
			font-size: 65%;
		}

block content
	- function getYesNo(no){
	- 	return (no === 1) ? 'Yes' : 'No';
	- }
	- function upper(str){
	- 	return str.toUpperCase();
	- }
	div.container
		div(style={'width': '600px','margin-left':'auto','margin-right':'auto'})
			div.page-header
				h3 Sample Information
					span.right-menu.no-print
						a(href='/menu/sample/register') New
						span(style='margin-left: 4px; margin-right: 4px;') /
						a(href='/menu/') List
						span(style='margin-left: 4px; margin-right: 4px;') /
						a(href='javascript:window.print();') Print
			table.table.table-striped
				//- thead
				//- 	tr
				//- 		th Sample Information
				//- 		th(style={'text-align':' right'})
				//- 			div.no-print
				//- 				a(href='/menu/sample/register') New
				//- 				span(style='margin-left: 4px; margin-right: 4px;') /
				//- 				a(href='/menu/') List
				//- 				span(style='margin-left: 4px; margin-right: 4px;') /
				//- 				a(href='javascript:window.print();') Print
				tbody
					tr
						td Sample ID
						td 
							strong #{sample.sample_id}
					tr
						td Cancer
						td #{sample.cancer_name}
					tr
						td Sequencing Institute
						td #{sample.sequencing_inst}
					tr
						td WES Normal
						td #{getYesNo(sample.wes_normal)}
					tr
						td WES Tumor
						td #{getYesNo(sample.wes_tumor)}
					tr
						td WTS Normal
						td #{getYesNo(sample.wts_normal)}
					tr
						td WTS Tumor
						td #{getYesNo(sample.wts_tumor)}
					tr
						td Comments
						td #{sample.comments}
					tr
						td Register
						td #{sample.register}
					tr
						td Registration Date
						td #{sample.insert_date}

			table.table.table-striped
				thead
					tr
						th(colspan=5) Sequencing History
					tr
						th #
						th Type
						th Tissue
						th Status
						th Date
				tbody
				each data in sequencingHistory
					tr
						td #{data.seq_no}
						td #{upper(data.sequencing_type)}
						td #{data.tissue_type}
						td #{data.status_short}
						td #{data.modify_date}
			table.table.table-striped
				thead
					tr
						th(colspan=5) Analysis History
					tr
						th #
						th Type
						th Tissue
						th Status
						th Date
				tbody
				each data in analysisHistory
					tr
						td #{data.seq_no}
						td #{upper(data.analysis_type)}
						td #{data.tissue_type}
						td #{data.status_short}
						td #{data.modify_date}
