.modal-body {
    padding: 5;
}
/* 
hr {
    width: 100%;
    border: 0.5px solid #333333;
} */

#report_modal {
    top: 0;
    left: 0;
    margin: 0;
    padding: 5;
    width: 100%;
    height: 100%;
    overflow: auto;
    visibility: visible;
    border: none;
    box-shadow: none;
}

small {
    color: #777;
    font-size: 25.5px;
}

.page-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.page-header {
    border: none;
}

.sample-title {
    font-size: 30px;
}

.category-table-print {
    /* 테이블 길이 50:50 고정 */
    table-layout: fixed;
}

.relevant-drugs-table th {
    width: 300px;
}

#analysis_results_print,
#demographic_and_history_print,
#diagnosis_print,
#followup_print {
    margin-top: 40px;
}

#alterations {
    color: #3C763D;
}

.text-success {
    color: #3C763D;
}

.text-danger {
    color: #FD0000;
}

.text-primary {
    color: #0000FF;
}

.text-default {
    color: #333333;
}

.italic {
    font-style: italic;
}

.bigbar,
.color-row.boarderless {
    background-color: #F8F8F8;
}

.agent-pink {
    color: rgb(255, 144, 20);
}

.agent-red {
    color: rgb(253, 0, 0);
}

.agent-blue {
    color: rgb(51, 122, 183);
}

.agent-green {
    color: rgb(60, 118, 61);
}

.agent-white {
    color: rgb(238, 238, 238);
}

.label {
    color: #fff;
    font-size: 75%;
    line-height: 1;
    display: inline;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    border-radius: .25em;
    padding: .2em .6em .3em;
    vertical-align: baseline;
}

.label-danger {
    background-color: #D9534F;
}

.label-primary {
    background-color: #337AB7;
}

.badge {
    float: right;
    color: #fff;
    line-height: 1;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 7px;
    text-align: center;
    border-radius: 10px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    background-color: #777;
    background-color: #337AB7;
}

.badge-success {
    margin: 0px 2px;
    background-color: #3c763d;
}

.badge-pink {
    background-color: #FF9014;
}

.badge-red {
    background-color: #FD0000;
}

.badge-blue {
    background-color: #337AB7;
}

.badge-green {
    background-color: #3C763D;
}

.badge-black {
    background-color: #333333;
}

.panel-warning > .panel-heading {
    color: #ffffff;
    background-color: rgba(255, 144, 20, 0.76);
    border-color: #faebcc;
}

.panel-success > .panel-heading {
    color: #ffffff;
    background-color: rgba(60, 118, 61, 0.76);
    border-color: #faebcc;
}

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: rgba(51, 122, 183, 0.76);
    border-color: #faebcc;
}

.panel-danger > .panel-heading {
    color: #ffffff;
    background-color: rgba(252, 23, 23, 0.76);
    border-color: #faebcc;
}

#implication_table_print,
#drugs_table_print {
    table-layout: auto;
}

#variant_table_print    {
    width: 100%;
    border-collapse: collapse;
}

#variant_table_print th {
    border-bottom: #dddddd 1px solid;
}

#variant_table_print th,
#variant_table_print td {
    width: 1px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.is-cosmic-print {
    float: right;
    border: none;
}

.no-drug-data   {
    margin-left: 25px;
    color: darkslategrey;
}

.report-drug-list {
    width: 100%;
}

.drug-title-border {
    padding: 10px;
}

.drug-title {
    padding: 10px;
    font-size: 19.5px;
    font-weight: bold;
}

.drug-header-line   {
    margin: 0px;
}

.pmid-drug {
    float: right;
}

#print_loading {
    top: 0;
    left: 0;
    z-index: 9000;
    display: none;
    position: absolute;
    background-color: rgba(29, 31, 32, 0.904);
}

.loading {
    width: 100%;
    position: fixed;
    text-align: center;
    top: calc(50% - 30px);
}

.loading > span {
    font-size: 30px;
}