@page {
    size: auto;
}
/* 프린트 미리보기 또는 출력되는 페이지의 크기 및 기타 조정. */
@media print {
    * {
        /* 아래 웹킷은 CSS 적용을 하기 위해서 적용하였다. */
        -webkit-print-color-adjust: exact !important;
        border: none !important;
    }

    .page-break {
        page-break-before: always;
    }

    .modal-body {
        padding: 0 !important;
    }

    hr {
        width: 100% !important;
        border: 0.5px solid #333333 !important;
    }

    var {
        font-style: italic !important;
    }

    #report_modal {
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: 100% !important;
        border: none !important;
        box-shadow: none !important;
        overflow: visible !important;
        visibility: visible !important;
    }

    .col-xs-12 {
        width: 100% !important;
    }

    .col-xs-6 {
        width: 50% !important;
    }

    .rs-6 {
        width: 545px !important;
    }

    .modal-footer {
        visibility: hidden !important;
    }

    #print_and_close {
        visibility: hidden !important;
    }

    small {
        color: #777 !important;
    }

    #print_title    {
        margin-top: -40px !important;
    }

    .page-header {
        border: none !important;
    }

    .page-title {
        margin-top: 10px !important;
        font-size: 40px !important;
        margin-bottom: 10px !important;
    }

    .sample-title {
        font-size: 30px !important;
    }

    .category-table-print {
        /* 테이블 길이 50:50 고정 */
        table-layout: fixed; 
    }

    .relevant-drugs-table th {
        width: 300px !important;
    }

    #analysis_results_print, 
    #demographic_and_history_print,
    #diagnosis_print,
    #followup_print {
        margin-top: 40px !important;
    }

    #alterations {
        color: #3C763D !important;
    }

    .text-success  {
        color: #3C763D !important;
    }

    .text-danger {
        color: #FD0000 !important;
    }

    .text-primary {
        color: #0000FF !important;
    }

    .text-default {
        color: #333333 !important;
    }

    .italic {
        font-style: italic !important;
    }

    .bigbar, 
    .color-row.boarderless {
        background-color: #F8F8F8 !important;
    }

    .agent-pink {
        color: #FF9014 !important;
    }

    .agent-red {
        color: #FD0000 !important;
    }

    .agent-blue {
        color: #337AB7 !important;
    }

    .agent-green {
        color: #3C763D !important;
    }

    .label {
        color: #fff !important;
        font-size: 75% !important;
        line-height: 1 !important;
        display: inline !important;
        font-weight: 700 !important;
        text-align: center !important;
        white-space: nowrap !important;
        border-radius: .25em !important;
        padding: .2em .6em .3em !important;
        vertical-align: baseline !important;
    }

    .label-danger {
        background-color: #D9534F !important;
    }

    .label-primary {
        background-color: #337AB7 !important;
    }

    .badge {
        float: right !important;
        color: #fff !important;
        line-height: 1 !important;
        min-width: 10px !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        padding: 3px 7px !important;
        text-align: center !important;
        border-radius: 10px !important;
        white-space: nowrap !important;
        display: inline-block !important;
        vertical-align: middle !important;
        background-color: #777 !important;
        background-color: #337AB7 !important;
    }

    .badge-success {
        margin: 0px 2px !important;
        background-color: #3c763d !important;
    }

    .badge-pink {
        background-color: #FF9014 !important;
    }

    .badge-red {
        background-color: #FD0000 !important;
    }

    .badge-blue {
        background-color: #337AB7 !important;
    }

    .badge-green {
        background-color: #3C763D !important;
    }

    .badge-black {
        background-color: #333333 !important;
    }

    .panel-default  {
        border-color: #ddd !important;
    }

    .panel {
        border-radius: 4px !important;
        margin-bottom: 20px !important;
        background-color: #fff !important;
        border: 1px solid transparent !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    }

    .panel-warning>.panel-heading {
        color: #ffffff !important;
        background-color: rgba(255, 144, 20, 0.76) !important;
        border-color: #faebcc !important;
    }

    .panel-success>.panel-heading {
        color: #ffffff !important;
        background-color: rgba(60, 118, 61, 0.76) !important;
        border-color: #faebcc !important;
    }

    .panel-info>.panel-heading {
        color: #ffffff !important;
        background-color: rgba(51, 122, 183, 0.76) !important;
        border-color: #faebcc !important;
    }

    .panel-danger>.panel-heading {
        color: #ffffff !important;
        background-color: rgba(252, 23, 23, 0.76) !important;
        border-color: #faebcc !important;
    }

    .panel-default > .panel-heading {
        color: #333 !important;
        border-color: #ddd !important;
        background-color: #f5f5f5 !important;
    }

    .panel-heading  {
        padding: 10px 15px !important;
        border-top-left-radius: 3px !important;
        border-top-right-radius: 3px !important;
        border-bottom: 1px solid transparent !important;
    }

    .list-group-item    {
        display: block !important;
        position: relative !important;
        padding: 10px 15px !important;
        background-color: #fff !important;
        border: 1px solid #ddd !important;
    }

    .category-table-print.table.table-striped   {
        width: 1080px !important;
        table-layout: fixed !important
    }

    #implication_table_print {
        width: 1077px !important;
        table-layout: auto !important;
        border-collapse: collapse !important;
    }

    #drugs_table_print {
        width: 1080px !important;
        table-layout: fixed !important;
    }

    #variant_table_print    {
        width: 1080px !important;
        table-layout: auto !important;
        border-collapse: collapse !important;
    }

    #variant_table_print th {
        width: 1px !important;
        white-space: nowrap !important;
        border-bottom: #dddddd 1px solid !important;
    }

    #variant_table_print th, 
    #variant_table_print td {
        width: 1px !important;
        padding: 4px !important;
        text-align: center !important;
        white-space: nowrap !important;
        vertical-align: middle !important;
    }

    .is-cosmic-print {
        float: right !important;
        border: none !important;
    }

    .no-drug-data {
        margin-left: 25px !important;
        color: darkslategrey !important;
    }

    .report-drug-list {
        width: 100% !important;
    }

    .drug-title-border {
        padding: 10px !important;
    }

    .drug-title {
        padding: 10px !important;
        font-size: 19.5px !important;
        font-weight: bold !important;
    }

    .drug-header-line {
        margin: 0px !important;
    }

    .pmid-drug {
        float: right !important;
    }

    .drug-detail-width {
        width: 1080px !important;
    }
}