.inline-label {
    display: inline;
    cursor: pointer;
}

.report-select-btn {
    cursor: pointer;
}

.popover {
    width: 245px;
    min-width: 245px;
    max-width: 245px;
}

.popover-title {
    font-size: 16px;
    font-weight: bold;
}