extends ../layout/basiclayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.css')
	style.
		.link {
			color: #337AB7;
			cursor: pointer;
		}
		.link_only_cursor {
			//- color: #337AB7;
			cursor: pointer;
			width: 70px;
			display: inline-block;
			padding-top: 0.4em;
			padding-bottom: 0.4em;
		}
		.step-4{
			background-color: #1b4f72;
		}
		.step-43{
			background-color: #2874a6;
		}
		.step-2{
			background-color: #3498db;
		}
		.step-1{
			background-color: #85c1e9;
		}
		//- .register{
		//- 	float: right !important;
		//- 	margin-top: 14px;
		//- 	margin-right: 2px;
		//- 	font-weight: 400;
		//- 	line-height: 1;
		//- 	font-size: 50%;
		//- }
		#toolbar {
			//- float:right !important;
			margin-left: 4px;
		}
		.topright{
			position: absolute;
			top: 10px;
			right: 0px;
		}
block content
	div.container
		div.col-lg-12
			div.page-header(style={'position':'relative'})
				h2 Sample List
				div.topright
					a(href="/menu/sample/clinical") Upload Clinical Data
			div
				div#toolbar
					div.btn-group.pull-right
						button#registerButton.btn.btn-default(type="button",title="New Sample")
							i.glyphicon.glyphicon-plus
						button#registerSelfButton.btn.btn-default(type="button",title="Internal Sample")
							i.glyphicon.glyphicon-paperclip
				table#table

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.js')
	//- TODO bootstrap-table-cookie version 1.2.2.에서만 제대로 작동. 현 버전 1.2.1 따라서 1.2.2가 되면 아래 코드를 대체할 것.
	script(src='/js/bootstrap-table-cookie.js')
	script(src='/bower_components/moment/min/moment-with-locales.js')
	script(src='/js/analysis/index.js?v=1')
