//- extends ../../layout/analysislayout

//- block prepend rightcontent
//- 	div.tooltip_chart(style={ "display" : "none" })
//- 	div.container.chart_container
		//- nav.navbar.navbar-inverse#navbar_select_options
			//- div.navbar-header
			//- 	ul.pagination.pagination-sm#pagination_select_dfs_os
			//- 		li
			//- 			a(href='#', aria-label='previous')
			//- 				span.glyphicon.glyphicon-triangle-left(aria-hidden='true')
			//- 		li
			//- 			a(href='#') OS
			//- 		li
			//- 			a(href='#', aria-label='next')
			//- 				span.glyphicon.glyphicon-triangle-right(aria-hidden='true')
			//- div.collapse.navbar-collapse
			//- 	ul.nav.navbar-nav
			//- 		li
			//- 			a(href='#')
			//- 				b
			//- 					span#span_show_geneset
			//- 		li
			//- 			a(href='#')
			//- 				b
			//- 					span#span_show_function
			//- 		li
			//- 			a(href='#')
			//- 				b
			//- 					span#span_show_colormapping 
			//- 	ul.nav.navbar-nav.navbar-right
			//- 		li.dropdown
			//- 			a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') 
			//- 				b Color mapping
			//- 				span.caret
			//- 			ul.dropdown-menu
			//- 				li
			//- 					a(href='#') Color mapping item
			//- 	ul.nav.navbar-nav.navbar-right
			//- 		li.dropdown
			//- 			a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') 
			//- 				b Function
			//- 				span.caret
			//- 			ul.dropdown-menu
			//- 				li
			//- 					a(href='#') Function item
			//- 	ul.nav.navbar-nav.navbar-right
			//- 		li.dropdown
			//- 			a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') 
			//- 				b Geneset
			//- 				span.caret
			//- 			ul.dropdown-menu
			//- 				li
			//- 					a(href='#') geneset item
		//---------------------------------------------------------------------------------
//- 		div.col-xs-4#overallArea
//- 			ul.nav.nav-tabs(role='tablist')
//- 				li.active(role='presentation')
//- 					a(href='#osArea' aria-controls='os' role='tab', data-toggle='tab') OS
//- 				li(role='presentation')
//- 					a(href='#dfsArea' aria-controls='dfs' role='tab' data-toggle='tab') DFS
//- 			div.tab-content
//- 				div.tab-pane.active#osArea(role='tabpanel')
//- 					div.row
//- 						div.col-xs-12#os_survival_curve
//- 					div.row
//- 						div.col-xs-12#os_stat_table
//- 				div.tab-pane#dfsArea(role='tabpanel')
//- 					div.row
//- 						div.col-xs-12#dfs_survival_curve
//- 					div.row
//- 						div.col-xs-12#dfs_stat_table
//- 		div.col-xs-8#rnaChart
//- 			div.col-xs-9#rnaseq
//- 			div.col-xs-3#wsOpt
//- 				div.col-xs-12#waterfallOpt
//- 					div.input-group#scoringFunction
//- 						input.form-control#optInputScore(type='text', disabled, placeholder='Scoring function')
//- 						div.input-group-btn#scoreFunctionInputGroup
//- 					div.input-group#colorMapping
//- 						input.form-control#optInputColor(type='text', disabled, placeholder='Color mapping')
//- 						div.input-group-btn#colorMappingInputGroup
//- 					div.panel.panel-default#waterfallLegendArea
//- 				div.col-xs-12#scatterOpt
//- 					div.panel.panel-default#scatterLegendArea
//- 		div.col-xs-8
//- 			div.col-xs-9
//- 				div.heatmap-patient-area#heatmapTopPatient
//- 				div#heatmapOuter
//- 					div#heatmap
//- 				div.heatmap-patient-area#heatmapBottomPatient
//- 			div.col-xs-3#heatmapOpt
//- 				div.input-group#signatureGeneset
//- 					input.form-control#optInputSignature(type='text', disabled, placeholder='Signature gene set')
//- 					div.input-group-btn#signatureGenesetInputGroup
//- 				div#gradientBar
//- block append stylesheets
//- 	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
//- 	link(rel='stylesheet', href='/stylesheets/analysis/expressions.css')
//- 	link(rel='stylesheet', href='/bower_components/qtip2/jquery.qtip.min.css')
//- block append scripts
//- 	script(src='/bower_components/qtip2/jquery.qtip.min.js')
//- 	script(src='/js/analysis/expressions/survival/cbio-util.js')
//- 	script(src='/js/analysis/expressions/survival/boilerPlate.js')
//- 	script(src='/js/analysis/expressions/survival/kmEstimator.js')
//- 	script(src='/js/analysis/expressions/survival/logRankTest.js')
//- 	script(src='/js/analysis/expressions/survival/survival_tab.js')
//- 	script(src='/js/analysis/expressions/survival/survivalCurve.js')
//- 	script(src='/js/analysis/expressions/survival/survivalCurveView.js')
//- 	script(src='/js/analysis/expressions/survival/survivalCurveProxy.js')
//- block append require
//- 	script(src='/js/chart/init.js', onload='new Chart().view("/rest/expressions?", { source : cohort.getCohortSource(), cancer_type : "#{sample.cancer_type}", sample_id : "#{sample.sample_id}", signature : "PAM50", filter : cohort.getFilterOption() })')
