extends ../../layout/analysislayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	link(rel='stylesheet', href='/stylesheets/print.css?v=0.1.9', media='print')
	link(rel='stylesheet', href='/stylesheets/preview.css?v=0.1.9')
	link(rel='stylesheet', href='/stylesheets/report.css?v=0.1.9')
	style.
		.bigbar{
			padding: 10px;
			padding-left: 30px;
			//- font-size: 18px;
			border-radius: 5px;
			text-align: left;
			background-color: #F9F9F9;
		}
		.bignumber {
			font-size: 20px;
		}
		.title1 {
			font-size: 24px;
		}
		.midnumber {
			font-size: 16px;
		}
		.subdata{
			padding-left: 50px;
			text-align: left;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		.smalltd{
			width: 1%;
		}
		.boarderless {
			border: 0px !important;
		}
		.italic {
			font-style: italic;
		}
		.underline{
			text-decoration: underline;
		}
		.nounderline{
			text-decoration: none;
		}
		.badge{
			background-color: #337AB7;
				cursor: pointer;
		}
		.logo{
			height: 14px;
		}
		.modal-scroll{
			max-height: 800px;
			overflow-y: auto;
		}
		.modal-gene{
			color: red;
			font-weight: bold;
		}
		.fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination {
			margin-bottom: 0px;
		}
		.category-table{
			margin-top: 15px;
		}
		//- .table > tbody > tr > th {
		//- 	width: 40%;
		//- }
		#implication_table thead tr th{
			//- text-align: center;
			vertical-align: middle;
		}
		#implication_table tbody tr td{
			//- text-align: center;
			vertical-align: middle;
		}		

		#report_button {
			text-decoration: none;
			outline: none;
		}

		#report_button span,
		#report_button i {
			color: #999999;
		}

		#report_button span {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
		}

		#report_button:hover span,
		#report_button:hover i {
			color: #2F80CC;
		}

block prepend rightcontent
	- function frequency(part,total){
	-   return ((part/total) * 100).toFixed(2);
	- }
	- function getClass(obj){
	-   return obj.replace(/_Mutation/g, '');
	- }
	- function endsWith(str, suffix) {
	-   return str.indexOf(suffix, str.length - suffix.length) !== -1;
	- }
	- function getPluralString(no, str){
	- 	if(no < 2) return str;
	-	return endsWith(str,'y') ? str.substring(0,str.length - 1) + 'ies' : str + 's';
	- }
	//- 제일 먼저 _를 공백으로 치환하고, 첫 문짜 또는 공백 다음 문자를 대문자로 만든다.
	//- - function makeTitle(str){
	//- - 	return str.replace(/_/g, ' ').replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
	//- - }
	- function getTobacoString(no){
	- 	if(no === '1') return 'Lifelong Non-Smoker';
	- 	if(no === '2') return 'Current Smoker';
	- 	if(no === '3') return 'Current Reformed Smoker for > 15 yrs';
	- 	if(no === '4') return 'Current Reformed Smoker for < or = 15 yrs';
	- 	if(no === '5') return 'Current Reformed Smoker, Duration Not Specified';
	- }

	- function getValue(clinical, column_name){
	- 	if(column_name !== 'tobacco_smoking_history')	return clinical[column_name];
	- 	else return getTobacoString(clinical[column_name]);
	- }

	div#driveModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='driveModalLabel')
		div.modal-dialog.modal-lg(role='document')
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#driveModalLabel.modal-title
				div.modal-body.modal-scroll
					div
						h4 Overview
						div.overview
					div
						h4 Alterations
						div.alter
					div
						h4 Therapeutic Implications
						div.therapeutic
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
	//- Print 모듈.
	div#print_loading
		div.loading
			span.agent-white L
			span.agent-white O
			span.agent-white A
			span.agent-pink D
			span.agent-red I
			span.agent-blue N
			span.agent-green G
	div
		div.header-report
			a#report_button(href='#', data-toggle='popover', data-html='true', data-trigger='focus', data-container='body', data-placement='left', style={ 'float': 'right', 'margin-right': '20px', 'cursor': 'pointer' }) 
				i.fa.fa-file-text.fa-fw
				span.sub_menu_span Report
			div#report_selector.hide
				div.btn-group(data-toggle='buttons')
					label.btn.btn-primary
						input.report-select-btn#report_for_gene(type='radio', name='report_select', autocomplete='off', value='gene')
						label.inline-label Gene Level
					label.btn.btn-primary
						input.report-select-btn#report_for_variant(type='radio', name='report_select', autocomplete='off', value='variant')
						label.inline-label Variant Level
			div#report_modal.modal.fade(tabindex = '-1', role = 'dialog', aria-labelledby = 'reportModalLabel', aria-hidden = 'true')
				div.modal-dialog(role = 'document', style = { 'width': 'auto' })
					div.modal-content
						div.modal-body
							div#print_title.row
								div.col-xs-6
									div.page-title Analysis Report
									div.row &nbsp;
									div.sample-title #{analysis.analysis_id}, #{analysis.cancer_type.toUpperCase()}
										small &nbsp;#{clinical.cancer_name}
								div.col-xs-6
									div#print_and_close(style = { 'float': 'right' })
										button#report_print_btn.btn.btn-info(type = 'button', style = { 'margin-right': '10px' }, disabled = 'true') &nbsp;Print&nbsp;
										button.btn.btn-secondary(type = 'button', data-dismiss = 'modal') Close
								hr
							div.row
							div.row &nbsp;
								div.col-xs-12.page-title Analysis Results
								hr
							div.row
								div.col-xs-6.rs-6
									h2.bigbar.text-success(style = { 'margin-top': '0px' }) #{genomic_alt}
										small.text-success.italic  Altered #{getPluralString(genomic_alt,'gene')}
											span#alterations
										h3.subdata.text-success #{cosmic_cgc}
											small.text-success.italic  in COSMIC Cancer Gene Census
									h2.bigbar.text-danger.agent-red #{fda_cancer}
										small.text-danger.agent-red.italic  #{getPluralString(fda_cancer,'therapy')} approved in #{analysis.cancer_type.toUpperCase()}
								div.col-xs-6.rs-6
									h2.bigbar.text-primary.agent-blue(style = { 'margin-top': '0px' }) #{fda_other_cancer}
										small.text-primary.agent-blue.italic  #{getPluralString(fda_other_cancer,'therapy')} approved in other cancers
									h2.bigbar.text-default.agent-black #{clinical_trials}
										small.text-default.agent-black.italic  clinical #{getPluralString(clinical_trials,'trial')}
							div.row &nbsp;
								div.col-xs-12
									div.page-title Therapeutic Implications
									hr
									table#implication_table_print.table.table-bordered
										thead
											tr
												th.text-success(rowspan=2) Gene
												th(colspan=3) FDA approved drugs for gene
												th.text-success(rowspan=2) Genomic alterations
												th(colspan=2) FDA drugs for alterations
											tr
												th.agent-red for #{analysis.cancer_type.toUpperCase()}
												th.agent-blue for other cancers
												th clinical trials
												th Manual
												th OncoKB(Level)
										tbody
							div.row.page-break
								div.row
									div.col-xs-12
										div#demographic_and_history_print.col-xs-12
											div.page-title Demographic & History
											hr
											table.category-table-print.table.table-striped
												tbody
													each category, index in categories
														if category.category_name === 'demographic & history'
															if index % 2 == 0
																tr
																	th.color-row.boarderless #{category.column_full_name}
																	td.color-row.boarderless #{getValue(clinical, category.column_name)}
															else
																tr
																	th.boarderless #{category.column_full_name}
																	td.boarderless #{getValue(clinical, category.column_name)}			
								div.row
									div.col-xs-12
										div#diagnosis_print.col-xs-12
											div.page-title Diagnosis
											hr
											table.category-table-print.table.table-striped(style = { 'table-layout': 'fixed' })
												tbody
													each category, index in categories
														if category.category_name === 'diagnosis'
															if index % 2 == 0
																tr
																	th.color-row.boarderless #{category.column_full_name}
																	td.color-row.boarderless #{getValue(clinical, category.column_name)}
															else
																tr
																	th.boarderless #{category.column_full_name}
																	td.boarderless #{getValue(clinical, category.column_name)}
								div.row
									div.col-xs-12
										div#followup_print.col-xs-12
											div.page-title Follow up
											hr
											table.category-table-print.table.table-striped(style = { 'table-layout': 'fixed' })
												tbody
													each category, index in categories
														if category.category_name === 'follow-up'
															if index % 2 == 1
																tr
																	th.color-row.boarderless #{category.column_full_name}
																	td.color-row.boarderless #{getValue(clinical, category.column_name)}
															else
																tr
																	th.boarderless #{category.column_full_name}
																	td.boarderless #{getValue(clinical, category.column_name)}
							div.row.page-break
							div.row &nbsp;
								div.col-xs-12
									div.page-title Variants list
									hr
									table#variant_table_print.table
										tbody
							div.row.page-break
							div.row &nbsp;
								div.col-xs-12
									div.page-title Relevant drugs
										small#relevant_drugs_label
									hr
									div#relevant_drug_list
		div.page-header(style={'margin-top': '20px'})
			h3 #{analysis.analysis_id}, #{analysis.cancer_type.toUpperCase()}
				small #{clinical.cancer_name}

		div.col-xs-5
			div
				h3 Analysis Results
				hr(style={'margin-top': '0px', 'margin-bottom': '0px'})
			h2.bigbar.text-success(style={'margin-top': '0px'}) #{genomic_alt}
				small.text-success.italic  Altered #{getPluralString(genomic_alt,'gene')}
					span#alterations
				//- h3.subdata.text-success #{mutational_cd}
				//- 	small.text-success.italic  in Cancer Drug Targets
				h3.subdata.text-success #{cosmic_cgc}
					small.text-success.italic  in COSMIC Cancer Gene Census
			h2.bigbar.text-danger.agent-red #{fda_cancer}
				small.text-danger.agent-red.italic  #{getPluralString(fda_cancer,'therapy')} approved in #{analysis.cancer_type.toUpperCase()}
			h2.bigbar.text-primary.agent-blue #{fda_other_cancer}
				small.text-primary.agent-blue.italic  #{getPluralString(fda_other_cancer,'therapy')} approved in other cancers
			h2.bigbar.text-default.agent-black #{clinical_trials}
				small.text-default.agent-black.italic  clinical #{getPluralString(clinical_trials,'trial')}

		div.col-xs-7
			div
				ul.nav.nav-tabs(role="tablist")
					li.active(role="presentation")
						a.title1(href='#demographictab', data-toggle='tab',role="tab", aria-controls="demographictab") Demographic & History
					li
						a.title1(href='#diagnosistab', data-toggle='tab',role="tab", aria-controls="diagnosistab") Diagnosis
					li
						a.title1(href='#followuptab', data-toggle='tab',role="tab", aria-controls="followuptab") Follow up
				div.tab-content
					div#demographictab.tab-pane.fade.in.active(role="tabpanel")
						table.category-table.table.table-striped.table-hover
							tbody
								each category in categories
									if category.category_name === 'demographic & history'
										tr
											th.boarderless #{category.column_full_name}
											td.boarderless #{getValue(clinical, category.column_name)}
					div#diagnosistab.tab-pane.fade(role="tabpanel")
						table.category-table.table.table-striped.table-hover
							tbody
								each category in categories
									if category.category_name === 'diagnosis'
										tr
											th.boarderless #{category.column_full_name}
											td.boarderless #{getValue(clinical, category.column_name)}
					div#followuptab.tab-pane.fade(role="tabpanel")
						table.category-table.table.table-striped.table-hover
							tbody
								each category in categories
									if category.category_name === 'follow-up'
										tr
											th.boarderless #{category.column_full_name}
											td.boarderless #{getValue(clinical, category.column_name)}
		div
			div.col-xs-12
				div.page-header
					h3 Therapeutic Implications
				div#loading.text-center
					span.spinner
						img(src='/images/loading-md.gif', alt='Loading')

				div#implication.hidden
					table#implication_table.table.table-bordered
						thead
							tr
								th(rowspan=2).text-success Gene
								th(colspan=3) FDA approved drugs for gene
								th(rowspan=2).text-success Genomic alterations
								th(colspan=2) FDA drugs for alterations
							tr
								th.agent-red for #{analysis.cancer_type.toUpperCase()}
								th.agent-blue for other cancers
								th clinical trials
								th Manual
								//- th PubMed mining drugs
								th OncoKB(Level 
									a(href='http://oncokb.org/#/levels', target='oncokb')
										i.fa.fa-external-link(aria-hidden='true')
									| )
						tbody

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/js/analysis/summary.js?t=20180219_4.2.22')
	script.
		$(function() {
			var cancer_type = $('#cancer_type').val();
			var analysis_id = $('#analysis_id').val();
			var implications = !{JSON.stringify(implications)};

			renderingTable(implications);
			renderingTableOfPrintFromSummary(implications);

			getVariantData ({
				source: cohort.getCohortSource(),
				analysis_id: analysis_id,
				cancer_type: cancer_type,
				frequency: 0,
				classification: 'all',
				cosmic: 'Y',
				filter_option: cohort.getFilterOption(),
			}, function ()	{
				$('#report_print_btn').attr('disabled', false);
				$('#print_loading').fadeOut(250);
			});
		});
