extends ../../layout/analysislayout

block append stylesheets
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	style.
		.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
			border: none;
		}
		.pagination{
			margin: 0px;
		}
		.fixed-table-pagination .page-list {
			display: none;
		}
		.badge-link{
			background-color: #337AB7;
			cursor: pointer;
		}
		.pathway-title{
			width: 200px;
		}
		.pathway {

		}
		.gene{
			margin-left: 10px;
			display: inline-block;
		}
		.genename{
			cursor: pointer;
		}
		.alteredgenename {
			color : #db342c;
		}
		.underline{
			border-bottom: 1px dotted #337AB7;
		}
		.loading-indicator {
			margin-left:5px;
		}
		.topright{
			position: absolute;
			top: 0px;
			right: 0px;
		}
		.horizentallist {
			list-style: none;
		}
		.horizentallist > li + li::before {
			padding: 0 5px;
			color: #ccc;content: "/\00a0";
		}
		.horizentallist > li {
			display: inline-block;
		}
		.label-danger 	{
			background-color : #FD0000;
		}
		.label-primary {
			background-color : #0000FF;
		}
		.label-default		{
			background-color : #333333;
		}
		.drugs-legend-item		{
			margin-left : 10px;
			font-family : "Times New Roman";
		}
		.drugs-second-title	{
			margin-bottom : 30px;
		}
		.legend-container {
			margin-top 		: 20px;
			margin-bottom : -40px;
			height				: 130px;
			max-height		: none !important;
		}
		.delete-tab-line {
			border-bottom: 0px solid #ddd;
		}
		.tab-content {
			margin-top: 10px;
		}
		div[class*='col-xs-'] {
			overflow: hidden;
			padding : 0px;
		}
		.nav li a {
			padding: 10px 10px;
		}
block prepend rightcontent

	div
		div.col-md-6
			h3.drugs-first-title Drugs for mutated genes
				img#geneLoadIndicator.loading-indicator(src='/images/loading.gif',style='display:none')
				h4#geneAlert.text-danger(style='display:none') No Drugs...
		div.col-md-offset-4.col-md-2
			div.panel.panel-default
				div.panel-body(style="padding:0 20px 0 10px;")
					div
						h6.drugs-legend
							span.label.label-danger &nbsp;
							span.drugs-legend-item Drugs available for #{analysis.cancer_type.toUpperCase()}
					div
						h6.drugs-legend
							span.label.label-primary &nbsp;
							span.drugs-legend-item Drugs available for other cancers
					div
						h6.drugs-legend
							span.label.label-default &nbsp;
							span.drugs-legend-item Drugs cancer type not specifed

	div
		ul#patient_tab.nav.nav-tabs(role="tablist")
		div#patient_tabcontent.tab-content

	div
		h3.drugs-second-title Drugs for aberrant pathways
			img#pathwayLoadIndicator.loading-indicator(src='/images/loading.gif',style='display:none')
		h4#pathwayAlert.text-danger(style='display:none') No Drugs...

		table#pathwayTable.table.borderless
			tbody

		table#cancer_table

block append scripts
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/js/analysis/therapies.js')
