extends ../../layout/analysislayout

block append stylesheets
	//- link(rel="stylesheet", type="text/css", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	link(rel='stylesheet', type='text/css', href='/js/analysis/igv/igv-1.0.8.css?v=1')
	//- link(rel='stylesheet', type='text/css', href='/js/analysis/igv/igv-beta.css?v=1')
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/analysis/needleplot.css?v=1')
	link(rel='stylesheet', href='/bower_components/BioChart/dist/css/biochart.css?v=2')
	style.
		.slider.slider-horizontal{
			width: 150px;
		}
		.fixed-table-pagination .page-list {
			display: none;
		}
		.box_container {
			margin-top: 15px;
		}
		.box_main_title {
			color: #286090;
			font-size: 18px;
		}
		.box_title {
			color: #286090;
			font-size: 16px;
		}
		.highlight{
			background-color: red
		}
		.badgepointer{
			background-color: #337AB7;
			cursor: pointer;
		}
		.badge-primary {
			margin: 0px 2px;
			background-color: #337ab7;
		}
		.badge-success {
			margin: 0px 2px;
			background-color: #3c763d;
		}
		.badge-warning {
			margin: 0px 2px;
			background-color: #8a6d3b;
		}
		.popover {
			//- top: 0px !important;
			max-width:500px;
		}
		.popover .close {
			padding-top: 4px;
			padding-right: 4px;
		}
		.popover-content {
			overflow-x: hidden;
			overflow-y: auto;
			max-height:500px;
		}
		.popover-content ul li {
			padding-top:10px;
			border-bottom: 1px solid #ddd;
		}
		.queryt{
			color:#AA0;
		}
		.oncokbdrugs {
			white-space:nowrap;
		}
		.oncokb_level_1 {
			color: #34A249;
		}
		.oncokb_level_2A {
			color: #1B79B6;
		}
		.oncokb_level_2B {
			color: #7FB1D4;
		}
		.oncokb_level_3A {
			color: #984FA0;
		}
		.oncokb_level_3B {
			color: #BD97C6;
		}
		.oncokb_level_4 {
			color: #434343;
		}
		.oncokb_level_R1 {
			color: #EF3526;
		}
		#drugstable tbody tr th {
			width:200px;
			vertical-align: middle;
		}
block prepend rightcontent
	div#pdftest
	div(style={'margin-top':'30px'})
		div.col-xs-2(style={'width':'14%', 'line-height': '28px'})
			div.box_container
				h4 Min. Frq. in Total
				div.input-group(style={'width':'100px'})
					input.form-control.input-sm.text-right(value='0')#frequency
					div.input-group-addon %
			div.box_container
				//- i.fa.fa-caret-right
				h4 Classification
				div
					input#classification_all(type='checkbox',value='All',checked)
					span.sub_menu_span All
				hr(style={'border-top-style': 'dashed','width': '150px', 'margin': '5px'})
				div
					input(type='checkbox',name='classification',value='Nonsense_Mutation')
					span.sub_menu_span Nonsense
				div
					input(type='checkbox',name='classification',value='Splice_Site')
					span.sub_menu_span Splice Site
				div
					input(type='checkbox',name='classification',value='Translation_Start_Site')
					span.sub_menu_span Translation Start Site
				div
					input(type='checkbox',name='classification',value='Missense_Mutation')
					span.sub_menu_span Missense
				div
					input(type='checkbox',name='classification',value='Nonstop_Mutation')
					span.sub_menu_span Nonstop
				div
					input(type='checkbox',name='classification',value='Frame_Shift_Ins,Frame_Shift_Del')
					span.sub_menu_span INDEL(Frame Shift)
				div
					input(type='checkbox',name='classification',value='In_Frame_Ins,In_Frame_Del')
					span.sub_menu_span INDEL(In Frame)
				div
					input(type='checkbox',name='classification',value='RNA,lincRNA')
					span.sub_menu_span RNA,lincRNA
				div
					input(type='checkbox',name='classification',value='Silent')
					span.sub_menu_span Silent
			div.box_container
				//- i.fa.fa-caret-right
				h4 In Cancer Genes
				div
					input(type='checkbox',name='cosmic',checked)
					span.sub_menu_span Cancer Gene Census
				div
					input(type='checkbox',name='driver',checked)
					span.sub_menu_span Cancer Drug Targets
				//- div
				//-     input(type='radio',name='c')
				//-     span.sub_menu_span HGMD
			div.box_container
				button#filterButton.btn.btn-primary(type='button',style={'margin-left': '20px'})
					span.glyphicon.glyphicon-refresh
					span  Update
		div.col-xs-10(style={'width':'86%'})
			div.table-area
				table#table

			div
				table#drugstable.table.table-bordered.hidden
					tbody
						tr
							th.agent-red Cancer gene drugs
							td#actionable
						tr
							th.text-success PubMed mining drugs
							td#miningdrugs
						tr
							th.text-primary OncoKB drugs(Level 
								a(href='http://oncokb.org/#/levels',target='oncokb')
									i.fa.fa-external-link(aria-hidden='true')
								| )
							td#oncokbdrugs
				//- span.help-block.text-right(style='margin-bottom:10px; margin-right:10px;') 
				//- 	i.fa.fa-info-circle(aria-hidden='true')
				//- 	|  please refer OncoKB level 
				//- 	a(href='http://oncokb.org/#/levels',target='oncokb') here
			div
				ul.nav.nav-tabs#analysisTab(role='tablist')
					li.active(role='presentation')
						a(href='#genemutationplot', aria-controls='genemutationplot', role='tab', data-toggle='tab') Gene Mutation Plot
					li(role='presentation')
						a(href='#readalignmentplot', aria-controls='readalignmentplot', role='tab', data-toggle='tab') Read Alignment Plot
				// Tab panes
				div.tab-content
					div#genemutationplot.tab-pane.fade.in.active(role='tabpanel')
						div.container.chart_container
							//- div.needle-navbar-area
							//- 	nav.navbar.navbar-default.needle-navbar
							//- 		div.container-fluid
							//- 			div.navbar-header
							//- 				a(href='#').navbar-brand.needle-title-cancer-transcript#cancer_transcript
							//- 			form.navbar-form.navbar-right
							//- 				button.btn.btn-default#needle_pdf(type='button')
							//- 					span.fa.fa-file-pdf-o(aria-hidden='true')
							//- 				&nbsp;
							//- 				button.btn.btn-default#needle_download(type='submit')
							//- 					span.glyphicon.glyphicon-download-alt(aria-hidden='true')
							//- 				&nbsp;
							//- 				button.btn.btn-default#needle_print(type='submit')
							//- 					span.glyphicon.glyphicon-print(aria-hidden='true')
							//- div.needle-plot-area
							//- 	div#needleplot
							//- 		div#needleplot_yaxis
							//- 		div#needleplot_chart
							//- 		div#needleplot_xaxis
							//- 	div#legend
							div#main
							//- div.row
							//- 	div.col-xs-12#needleplot
							//- 	div.col-xs-2#legend
							//- div.row
							//- 	div.col-xs-12#navi
					div#readalignmentplot.fade.tab-pane(role='tabpanel')
						div.row
							div.col-xs-12#igvView2
	div.tooltip_chart(style={ "display" : "none" })
	//- div.btn-group(style={'position' : 'absolute'})
	//- 	button#simgTest.btn.btn-default.btn-xs(type='button')
	//- 		i.glyphicon.glyphicon-picture
	div#igvModal.modal.fade.modal-wide(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		div.modal-dialog(role='document')
			div.modal-content
				div.modal-header
					div.row
						div.col-md-2
							nav
								ul.pagination
									li#igvPrevBtn
										a#igvPrev(href='#', aria-label='Previous')
											span(aria-hidden='true') &laquo;
									li#igvNextBtn
										a#igvNext(href='#', aria-label='Next')
											span(aria-hidden='true') &raquo;
						div.col-md-8
							ol.breadcrumb
								li
									span.igvTitle Gene
									b.igvValue#igvGene
								li
									span.igvTitle Chromosome
									b.igvValue#igvChr
								li
									span.igvTitle Locus
									b.igvValue#igvLocus
								li
									span.igvTitle CDS Change
									b.igvValue#igvCds
								li
									span.igvTitle VAF
									b.igvValue#igvVaf
						div.col-md-2
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
				div.modal-body
					div#igvView

//- block append scripts
//- jquery-ui, bootstrap 충돌을 회피하기 위해 jquery-ui가 bootstrap보다 먼저 정의되어야 함.
//- 여기서 scripts 블럭을 재정의함.
//- ref: https://stackoverflow.com/questions/30740405/list-of-conflicts-between-bootstrap-and-jquery-ui
block scripts
	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src="/bower_components/jquery-ui/jquery-ui.min.js")
	script.
		$.widget.bridge('uibutton', $.ui.button);
		$.widget.bridge('uitooltip', $.ui.tooltip);
	script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='/bower_components/d3/d3.min.js')
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/bower_components/BioChart/dist/js/biochart.js?v=2')
	//- script(src='/js/analysis/igv/igv-beta.js?v=1')
	script(src='/js/sidebarlayout.js')
	script(src='/js/analysislayout.js')
	script(src='/js/analysis/cohort.js')
	script(src='/js/analysis/igv/igv-1.0.8.js?v=1')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js')
	script(src='/js/analysis/igv.js')
	script(src='/js/analysis/variant.js')
	script(src='/js/chart/init.js?v=3', type='text/javascript')
