extends ../../layout/analysislayout

block append stylesheets
	//- link(rel="stylesheet", type="text/css", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	link(rel='stylesheet', type='text/css', href='/js/analysis/igv/igv-1.0.9.css')
	link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/analysis/needleplot.css')
	link(rel='stylesheet', href='/bower_components/BioChart/dist/css/biochart.css?v=0.0.41')
	style.
		.slider.slider-horizontal{
			width: 150px;
		}
		.fixed-table-pagination .page-list {
			display: none;
		}
		.box_container {
			margin-top: 15px;
		}
		.box_main_title {
			color: #286090;
			font-size: 18px;
		}
		.box_title {
			color: #286090;
			font-size: 16px;
		}
		.highlight{
			background-color: red
		}
		.badgepointer{
			background-color: #337AB7;
			cursor: pointer;
		}
		.badge-primary {
			margin: 0px 2px;
			background-color: #337ab7;
		}
		.badge-success {
			margin: 0px 2px;
			background-color: #3c763d;
		}
		.badge-warning {
			margin: 0px 2px;
			background-color: #8a6d3b;
		}
		.popover {
			//- top: 0px !important;
			max-width:500px;
		}
		.popover .close {
			margin-top: -4px;
		}
		.popover-content {
			overflow-x: hidden;
			overflow-y: auto;
			max-height:500px;
		}
		.popover-content ul li {
			padding-top:10px;
			border-bottom: 1px solid #ddd;
		}
		.queryt{
			color:#AA0;
		}
		.oncokbdrugs {
			white-space:nowrap;
		}
		.oncokb_level_1 {
			color: #34A249;
		}
		.oncokb_level_2A {
			color: #1B79B6;
		}
		.oncokb_level_2B {
			color: #7FB1D4;
		}
		.oncokb_level_3A {
			color: #984FA0;
		}
		.oncokb_level_3B {
			color: #BD97C6;
		}
		.oncokb_level_4 {
			color: #434343;
		}
		.oncokb_level_R1 {
			color: #EF3526;
		}
		.cds_change{
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 120px;
		}
		.cds_change:hover{
			overflow: visible;
			max-width:100%;
		}
		#drugstable tbody tr th {
			width:270px;
			vertical-align: middle;
		}
		.popover-content {
			max-height: 400px;
			overflow-y: auto;
			min-width: 500px;
		}
		.narrow-panel{
			margin-top:5px;
			margin-bottom:10px;
		}
		.narrow-head{
			padding: 5px 15px;
		}
		.ul_nomargin{
			margin: 0px;
		}
		//- #drugModal ul li {
		//- 	border-bottom: 1px dashed #aaa;
		//- } 
block prepend rightcontent
	div#pdftest
	div(style={'margin-top':'30px'})
		div.col-xs-2(style={'width':'14%', 'line-height': '28px'})
			div.box_container
				h4 Min. Frq. in Total
				div.input-group(style={'width':'100px'})
					input.form-control.input-sm.text-right(value='0')#frequency
					div.input-group-addon %
			div.box_container
				//- i.fa.fa-caret-right
				h4 Classification
				div
					input#classification_all(type='checkbox',value='All',checked)
					span.sub_menu_span All
				hr(style={'border-top-style': 'dashed','width': '150px', 'margin': '5px'})
				div
					input(type='checkbox',name='classification',value='Nonsense_Mutation')
					span.sub_menu_span Nonsense
				div
					input(type='checkbox',name='classification',value='Splice_Site')
					span.sub_menu_span Splice Site
				div
					input(type='checkbox',name='classification',value='Translation_Start_Site')
					span.sub_menu_span Translation Start Site
				div
					input(type='checkbox',name='classification',value='Missense_Mutation')
					span.sub_menu_span Missense
				div
					input(type='checkbox',name='classification',value='Nonstop_Mutation')
					span.sub_menu_span Nonstop
				div
					input(type='checkbox',name='classification',value='Frame_Shift_Ins,Frame_Shift_Del')
					span.sub_menu_span INDEL(Frame Shift)
				div
					input(type='checkbox',name='classification',value='In_Frame_Ins,In_Frame_Del')
					span.sub_menu_span INDEL(In Frame)
				div
					input(type='checkbox',name='classification',value='RNA,lincRNA')
					span.sub_menu_span RNA,lincRNA
				div
					input(type='checkbox',name='classification',value='Silent')
					span.sub_menu_span Silent
			div.box_container
				//- i.fa.fa-caret-right
				h4 In Cancer Genes
				div
					input(type='checkbox',name='cosmic',checked)
					span.sub_menu_span Cancer Gene Census
				//- div
				//- 	input(type='checkbox',name='driver',checked)
				//- 	span.sub_menu_span Cancer Drug Targets
				//- div
				//-     input(type='radio',name='c')
				//-     span.sub_menu_span HGMD
			div.box_container
				button#filterButton.btn.btn-primary(type='button',style={'margin-left': '20px'})
					span.glyphicon.glyphicon-refresh
					span  Update
		div.col-xs-10(style={'width':'86%'})
			div.table-area
				table#table

			div
				table#drugstable.table.table-bordered.hidden
					tbody
						tr
							th.agent-pink FDA approved drugs for gene
							td#fda_in_gene_drugs
						tr
							th.agent-red FDA approved drugs for alteration
							td#fda_in_alt_drugs
						tr
							th.text-primary OncoKB drugs(Level 
								a(href='http://oncokb.org/#/levels',target='oncokb')
									i.fa.fa-external-link(aria-hidden='true')
								| )
							td#oncokbdrugs
						tr
							th.text-success PubMed mining drugs
							td#miningdrugs
			div
				ul.nav.nav-tabs#analysisTab(role='tablist')
					li.active(role='presentation')
						a(href='#genemutationplot', aria-controls='genemutationplot', role='tab', data-toggle='tab') Gene Mutation Plot
					if(!analysis.vcf_only)
						li(role='presentation')
							a(href='#readalignmentplot', aria-controls='readalignmentplot', role='tab', data-toggle='tab') Read Alignment Plot
				div.tab-content
					div#genemutationplot.tab-pane.fade.in.active(role='tabpanel')
						div.container.chart_container
							div#main
					div#readalignmentplot.fade.tab-pane(role='tabpanel')
						div.row
							div.col-xs-12#igvView2

	div#igvModal.modal.fade.modal-wide(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		div.modal-dialog(role='document')
			div.modal-content
				div.modal-header
					div.row
						div.col-md-2
							nav
								ul.pagination
									li#igvPrevBtn
										a#igvPrev(href='#', aria-label='Previous')
											span(aria-hidden='true') &laquo;
									li#igvNextBtn
										a#igvNext(href='#', aria-label='Next')
											span(aria-hidden='true') &raquo;
						div.col-md-8
							ol.breadcrumb
								li
									span.igvTitle Gene
									b.igvValue#igvGene
								li
									span.igvTitle Chromosome
									b.igvValue#igvChr
								li
									span.igvTitle Locus
									b.igvValue#igvLocus
								li
									span.igvTitle CDS Change
									b.igvValue#igvCds
								li
									span.igvTitle VAF
									b.igvValue#igvVaf
						div.col-md-2
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
				div.modal-body
					div#igvView

//- block append scripts
//- jquery-ui, bootstrap 충돌을 회피하기 위해 jquery-ui가 bootstrap보다 먼저 정의되어야 함.
//- 여기서 scripts 블럭을 재정의함.
//- ref: https://stackoverflow.com/questions/30740405/list-of-conflicts-between-bootstrap-and-jquery-ui
block scripts
	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src="/bower_components/jquery-ui/jquery-ui.min.js")
	script(src='/bower_components/underscore/underscore-min.js')
	script.
		$.widget.bridge('uibutton', $.ui.button);
		$.widget.bridge('uitooltip', $.ui.tooltip);
	script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='/bower_components/d3/d3.min.js')
	script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
	script(src='/bower_components/BioChart/dist/js/biochart.js?v=0.0.41')
	script(src='/js/sidebarlayout.js')
	script(src='/js/analysislayout.js')
	script(src='/js/analysis/cohort.js')
	script(src='/js/analysis/igv/igv-1.0.9.js')
	script(src='/js/analysis/igv.js?v=0.0.41')
	script(src='/js/analysis/variant.js?v=0.0.50')
