extends ../layout/basiclayout

block content
	div.loading(style={ "display" : "none" }) 
		span#loading_text
		div.double-bounce1
		div.double-bounce2
	div.container.chart_container
		div#maplot_view(style={'padding': '0px', 'margin': '0px', 'width': '900px', 'height': '660px', 'float': 'left'})
		div#maplot_result(style={'padding': '0px', 'margin': '0px', 'width': '500px', 'height': '660px', 'float': 'left'})
			div#maplot_result_view
				div.btn-toolbar
					div.input-group.spinner
						input.form-control(type='text', value='0.05')
						div.input-group-btn-vertical
							button.btn.btn-xs.btn-default#redraw_up(type='button')
								i.fa.fa-caret-up
							button.btn.btn-xs.btn-default#redraw_down(type='button')
								i.fa.fa-caret-down
					button.btn.btn-default#redraw_button(type='button') redraw
					button.btn.btn-default#download_button(type='button') download
					button.btn.btn-default#reset_button(type='button') reset
					button.btn.btn-default#undo_button(type='button') undo
				div.row
					div.table_header
						table.table.table-striped#maplot_table(style={'font-size' : '12px'})
							caption Seleted gene table
							thead
								tr
									th #
									th gene
									th x
									th y
									th p	
					div.table_body#maplot_table_body
						table.table.table-striped#result_table(style={'font-size' : '12px'})
							tbody#result_body
	div.tooltip_chart(style={ "display" : "none" })
block append scripts
	script(src='/bower_components/requirejs/require.js')
	script(src='/js/chart/init2.js')
	script(src='/js/chart/start.js', onload='startChart("ma")')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/stylesheets/chart/maplot.css')
	
