extends ../layout/basiclayout

block content
	div.container.chart_container
		div.gridster.ready
			ul
				li.gs-w(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
					div.small-box.bg-yellow.box-div-patient
						div.inner
							h3 GBM
							h4 
								b ERCSBGBM1606150001
						div.icon
							i.glyphicon.glyphicon-user
				li.gs-w(data-row='2', data-col='1', data-sizex='2', data-sizey='2')
					div.small-box.bg-red.box-div-altered_gene
						div.inner
							h3 1
							h4 Altered gene
						div.icon
							i.glyphicon.glyphicon-heart
						div.small-box-footer
							h2
								b 1 
							span.info-box-text in Cancer Drug Targets
						div.small-box-footer
							h2
								b 0 
							span.info-box-text in COSMIC Cancer Gene Census
				li.gs-w(data-row='4', data-col='1', data-sizex='2', data-sizey='2')
					div.small-box.bg-blue.box-div-therapy_approved
						div.inner
							h3 0
							h4 Therapy approved
						div.icon
							i.glyphicon.glyphicon-heart
						div.small-box-footer
							h2
								b 0 
							span.info-box-text in GBM
						div.small-box-footer
							h2
								b 0 
							span.info-box-text in Other cancers
				li.gs-w(data-row='6', data-col='1', data-sizex='2', data-sizey='1')
					div.small-box.bg-green.box-div-clinical_trial
						div.inner
							h3 0
							h4 Clinical trial
						div.icon
							i.glyphicon.glyphicon-heart
				li.gs-w(data-row='1', data-col='3', data-sizex='6', data-sizey='3')
					div.box.box-solid.box-default.box-table-clinical_freatures
						div.box-header
							h4 
								b Clinical Freatures
						div.box-body
							table.table
								tr
									th Age
									td 52
								tr
									th Gender
									td MALE
								tr
									th Smoking History
									td Current reformed smoker for < or = 15 years
								tr
									th Expression Subtype
									td Bronchioid
								tr
									th Histological Type
									td Lung Adenocarcinoma- Not Otherwise Specified (NOS)
								tr
									th Pathology
									td Solid predominant Adc
								tr
									th Pathologic Stage
									td Stage IV
								tr
									th EGFR Mutation
									td p.TSPKANKE751del
								tr
									th KRAS Mutation
									td none
				li.gs-w(data-row='4', data-col='3', data-sizex='6', data-sizey='2')
					div.box.box-solid.box-default.box-table-treatments
						div.box-header 
							h4 
								b Treatments
						div.box-body
							table.table
								tr
									th Targeted Molecular Therapy
									td YES
								tr
									th Radiation Therapy
									td NO
								tr
									th Primary Therapy Outcome Success
									td Complete Remission/Response
				li.gs-w(data-row='6', data-col='3', data-sizex='6', data-sizey='1')
					div.box.box-solid.box-default.box-table-therapeutic_implications
						div.box-header 
							h4 
								b Therapeutic Implications
						div.box-body
							table.table
								tr
									th Gene
									th Genomic Alterations
									th Approved Drugs in GBM
									th Approved Drugs in Others
									th Frequency in GBM
									th Cancer Gene?
								tr
									td PDGFRA
									td p.V129L (Missense)
									td
									td
									td 4.29% (12/280)
									td
										span.label.label-danger.label-driver Driver
										span.label.label-primary.label-cosmic Driver
				li.gs-w(data-row='1', data-col='6', data-sizex='5', data-sizey='6')
					include ../menu/analysis/gbm.svg
				li.gs-w.gs-w-li-variant_list(data-row='1', data-col='7', data-sizex='13', data-sizey='1')
					div.box.box-primary.box-table-variant_list
						div.box-body
							table.table.table-bordered
								tr
									th #
									th Gene
									th Classification
									th VAF
									th Chr
									th Locus
									th CDS Change
									th AA Change
									th Protein
									th Domain
									th Frq. in Gene
									th Frq. in Total
									th Actionable target?
								tr
									td 1
									td Gene
									td Classification
									td VAF
									td Chr
									td Locus
									td CDS Change
									td AA Change
									td Protein
									td Domain
									td Frq. in Gene
									td Frq. in Total
									td Actionable target?
				//- li.gs-w(data-row='3', data-col='4', data-sizex='1', data-sizey='1')
				//- li.gs-w(data-row='3', data-col='5', data-sizex='1', data-sizey='1')
block append scripts
	script(src='/bower_components/AdminLTE/dist/js/app.min.js')
	script(src='/bower_components/gridster/dist/jquery.gridster.js')
	script(src='/bower_components/gridster/dist/jquery.gridster.with-extras.js')
	script(src='/js/report/reporting.js')
block append stylesheets
	link(rel='stylesheet', href='/bower_components/spinkit/css/spinkit.css')
	//- link(rel='stylesheet', href='/stylesheets/chart/chart.css')
	link(rel='stylesheet', href='/bower_components/AdminLTE/dist/css/AdminLTE.min.css')
	link(rel='stylesheet', href='/bower_components/gridster/dist/jquery.gridster.css')
	link(rel='stylesheet', href='/stylesheets/report/reporting.css')