extends sidebarlayout

block append stylesheets
	style.
		.sub_title{
			color: #777;
			margin-left: 10px;
		}
		.selected_analysis {
			padding-top: 20px;
			padding-left: 10px;
			//- margin-right: 10px;
			//- margin-top: 20px;
			color: #777;
		}
		.tooltip-inner  {
			white-space:pre;
			max-width:none;
		}
		.sub_message {
			float: right;
		}
		.borderless{
			border: none !important;
		}
		.cohort-cnt{
			float: right;
			color: #E48810;
		}
		.selection {
			font-weight: 700;
			color: rgb(51, 122, 183);
		}
		.cohort-title{
			font-size: 20px;
		}
if(analysis)
	block leftmenu
		div.selected_analysis
			div
				input#analysis_id(type='hidden',value='#{analysis.analysis_id}')
				input#cancer_type(type='hidden',value='#{analysis.cancer_type}')
		ul.sidebar-nav
			li
				a(href='/menu')
					i.fa.fa-user.fa-fw
					span.sub_menu_span Analysis Selection
			li(style={'line-height':'30px'})
				span.sub_menu_span(style={'margin-left':'18px'})
				span.selection #{analysis.analysis_id}
			li
				a(href='#', data-toggle='modal', data-target='#cohortModal')
					i.fa.fa-database.fa-fw
					span.sub_menu_span Cohort Selection
					//- span#cohort_source_str.sub_menu_span
			li(style={'line-height':'30px'})
				span.sub_menu_span(style={'margin-left':'18px'})
				span#cohort_cnt_str.selection
				span#checkeditems(style={'display':'none'}) #{analysis.checkeditems}

		hr(style={'margin-top': '0px'})
		//- p.sub_title
		//- 	strong
		//- 		//- i.fa.fa-tags
		//- 		|  NGS Statistics
		//- hr
		//- ul.sidebar-nav
		//- 	li
		//- 		a.side-menu-active(href='/menu/ngs/summary')
		//- 			i.fa.fa-newspaper-o.fa-fw
		//- 			span.sub_menu_span  Summary
		//- hr
		p.sub_title(href='#')
			strong
				//- i.fa.fa-search
				|  Analysis
		hr
		ul.sidebar-nav
			li
				a(href='/menu/analysis/summary')
					i.fa.fa-newspaper-o.fa-fw
					span.sub_menu_span  Summary
			li
				a(href='/menu/analysis/variants')
					i.fa.fa-exclamation.fa-fw
					span.sub_menu_span  Variants
			if(analysis.cancer_type === 'luad')
				li
					a(href='/menu/analysis/mutualexclusivity')
						i.fa.fa-sun-o.fa-fw
						span.sub_menu_span  Mutual Exclusivity
			li
				a(href='/menu/analysis/pathways')
					i.fa.fa-code-fork.fa-fw
					span.sub_menu_span  Pathways
			- if(analysis.wts_normal === 1 || analysis.wts_tumor === 1)
				li
					a(href='/menu/analysis/expressions')
						i.fa.fa-chain.fa-fw
						span.sub_menu_span  Expressions
			//- li
			//- 	a(href='/menu/analysis/therapies')
			//- 		i.fa.fa-medkit.fa-fw
			//- 		span.sub_menu_span  Therapies
		hr
		p.sub_title(href='#')
			strong
				//- i.fa.fa-database
				|  Population Statistics
		hr
		ul.sidebar-nav
			li
				a(href='/menu/population/comutation')
					i.fa.fa-map-o.fa-fw
					span.sub_menu_span  Mutational Landscape
else
	block leftmenu
		a.analysis(href='/menu/') Select Analysis

block rightcontent
	div#cohortModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cohortModalLabel')
		div.modal-dialog(role='document')
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#cohortModalLabel.modal-title Cohort Selection - #{analysis.cancer_type.toUpperCase()}
				div.modal-body
					div.form-horizontal
						div.form-group
							label.col-sm-2.control-label Cohort
							div.col-sm-10
								select#cohortSource.form-control
									each cohort in analysis.cohort_list
										option(value='#{cohort.name}') #{cohort.name}
									//- option(value='GDAC') GDAC
									//- option(value='SMC') SMC
					hr
					div#modalContent
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button#saveChanges.btn.btn-primary(type='button', data-dismiss='modal') Save changes

block append scripts
	script(src='/js/analysislayout.js')
