doctype html
html
	meta(charset='utf-8')
	meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
	meta(content='', name='description')
	meta(content='', name='author')
	//- meta(name='viewport', content='width=device-width, initial-scale=1.0') For Non responsive
	head
		title= title
		link(rel='icon', href='/images/favicon.png?v=2')
		block stylesheets
			link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
			//- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
			link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block header
			include header.jade
		block content
		//- block footer
		//-     include footer.jade
		block scripts
			script(src='/bower_components/jquery/dist/jquery.min.js')
			script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
			script(src='/bower_components/d3/d3.min.js?v=1')
			script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
			script(src='/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
			script(src='/js/analysis/cohort.js')
		block require
			script(src='/bower_components/requirejs/require.js')
			script(src='/js/chart/requireConfig.js')
			script(src='/js/main.js')
