nav.navbar.navbar-default.navbar-fixed-top
	div.navbar-container
		div.navbar-header
			a.navbar-brand(href="/",style={'color': '#2880CC','font-size':'18px'})
				strong CGIS
				span(style={'margin-left':'6px','font-size':'85%','font-style':'italic'}) for Panel
		div#navbar
			ul.nav.navbar-nav
				li: a(href="/menu/") Cancer Panel Analysis
				li: a(href="/menu/panel") Panel Management

			ul.nav.navbar-nav.navbar-right
				if(!user)
					li: a(href="/login")
						i.fa.fa-sign-in
						span.menu_span login
				else
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true")
							i.fa.fa-user
							span(style={'margin-left':'4px'}) #{user.fullname}
							span.caret
						ul.dropdown-menu
							li: a(href="/models/users/profile")
								i.menu_icon.fa.fa-info-circle
								span.sub_menu_span Profile
							//- li: a(href="/commingsoon")
							//- 	i.menu_icon.fa.fa-wrench
							//- 	span.sub_menu_span Settings
							if(user.isAdmin)
								li.divider(role="separator")
								li: a(href="/admin")
									i.menu_icon.fa.fa-cog
									span.sub_menu_span Admin

							li.divider(role="separator")
							li: a(href="/logout")
								i.menu_icon.fa.fa-sign-out
								span.sub_menu_span Logout
				//- li: a(href="#{community.url}",target='community')
				//- 	i.fa.fa-comments-o
				//- 	span.menu_span Community
